<html>
<head>
  <title>We are almost there!</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PMQTDZN');</script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108721934-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-108721934-2');
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">
  <!--[if lt IE 9]>
    <script type="text/javascript">
      window.location = "/upgrade-browser";
    </script>
  <![endif]-->
<style>
  body {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    background-color: #f6f6f6;
  }
</style>
<style>
  @media (max-width: 480px){
    body {
      font-size: 16px;
    }
  }
  @media (max-width: 360px){
    .modal-content {
      padding: 0;
    }
  }
  @media (min-width: 768px) {
    .col-sm-3 {
      min-width: 360px;
    }
  }
  @media (max-width: 768px) {
    .col-sm-3 {
      max-width: 480px;
    }
  }
</style>
<script>
  $(document).ready(function(){
  });
</script>
</head>
<body>
<div class="container" style="display: block; height: 100%;">
    <img alt="https://fractory.in/media/almost-there.svg" src="/media/almost-there.svg" style="display: block; min-width: 270; min-height: 152; max-width: 1280; max-height: 720; margin-left: auto; margin-right: auto; margin-top: 10%; margin-bottom: 10%; width: 50%"/>
    <div style="display: block; margin-left: auto; margin-right: auto;">
      <p style="display: block; margin: auto; text-align: center; margin-top: 1em; font-family: Montserrat;font-size: 2em;font-weight: 300;"><span style="font-weight: 500;">Thank you</span> for signing up!</p>
      <p style="display: block; margin: auto; text-align: center; margin-top: 1em; font-family: Montserrat;font-size: 1em;font-weight: 300;">Something <span style="font-weight: 500;">awesome</span> is coming soon.<br/>Connect with us for more information.</p>
      </div>
  </div>
</div>
</body>
</html>
