{% extends "base.html" %}

{% block head %}
  <title>Fractory</title>
{% endblock %}

{% block content %}
           <section class="block sectionpadding50 cartwrapper lightgraybg">
               <div class="container">
                   <div class="title block marginbottom40">
                       <h3 class="displayinlineblock extraboldfont" >YOUR CART</h3>
                    </div>
                    <div class="block cartitemsheader marginbottom40">
                        <div class="row header hidden-xs lightgraybg sectionpadding10">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4>Price</h4>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                        <div class="block text-center">
                                            <h4>Price</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">
                                            <h4>Quantity</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">
                                            <h4>Total</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                        <h4>&nbsp;</h4>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="row flex sectionpadding20 productsaddedtocart">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="products flex ">
                                    <a href="https://aubree.in/product/choco-hazlenut/112">
                                        <img src="https://aubree.in/public/uploads/products/112/112-Choco-Hazlenut-jpg-20170814231345.jpg" class="img-responsive"
                                            alt="Choco Hazlenut">
                                    </a>
                                    <div class="checkout-products">
                                        <h5>Delta.stl</h5>
                                        <h6 class="weight lightcolor"> 3D Print - FDM</h6>
                                        <h6>High Quality Blue ABS</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row flex justifycontent">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">$
                                            <span>1233</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="enterquantity block text-center">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">$
                                            <span>1233</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-right">
                                            <a class="cursorpointer boldfont redcolor">Remove</a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="row flex sectionpadding20 productsaddedtocart">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="products flex ">
                                    <a href="https://aubree.in/product/choco-hazlenut/112">
                                        <img src="https://aubree.in/public/uploads/products/112/112-Choco-Hazlenut-jpg-20170814231345.jpg" class="img-responsive"
                                            alt="Choco Hazlenut">
                                    </a>
                                    <div class="checkout-products">
                                        <h5>Delta.stl</h5>
                                        <h6 class="weight lightcolor"> 3D Print - FDM</h6>
                                        <h6>High Quality Blue ABS</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row flex justifycontent">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">$
                                            <span>1233</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="enterquantity block text-center">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">$
                                            <span>1233</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-right">
                                            <a class="cursorpointer boldfont redcolor">Remove</a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="row flex sectionpadding20 productsaddedtocart">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="products flex ">
                                    <a href="https://aubree.in/product/choco-hazlenut/112">
                                        <img src="https://aubree.in/public/uploads/products/112/112-Choco-Hazlenut-jpg-20170814231345.jpg" class="img-responsive"
                                            alt="Choco Hazlenut">
                                    </a>
                                    <div class="checkout-products">
                                        <h5>Delta.stl</h5>
                                        <h6 class="weight lightcolor"> 3D Print - FDM</h6>
                                        <h6>High Quality Blue ABS</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row flex justifycontent">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">$
                                            <span>1233</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="enterquantity block text-center">
                                            <input type="text" placeholder="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">$
                                            <span>1233</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-right">
                                            <a class="cursorpointer boldfont redcolor">Remove</a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <div class="row  sectionpadding20 ">
                            <div class="col-lg-6 col-md-6 col-sm-6  hidden-xs">
                                &nbsp;
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row ">
                                    <div class="col-lg-3 col-md-3 col-sm-3  hidden-xs">
                                        <div class="block text-center">&nbsp;</div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="enterquantity block boldfont text-center">Sub Total</div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center boldfont">$
                                            <span>3699</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3  hidden-xs">
                                        <div class="block text-right">&nbsp;</div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="block cartadditional-details">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">Enter JOb Related Request
                                        <small class="text-muted text-capitalize">Optional</small>
                                    </h6>
                                    <div class="formelements block displayflex flexend ">
                                        <div class="flex2">
                                            <textarea class="block form-control" rows="3" placeholder="Type Your Request Here ">
                                                </textarea>

                                        </div>
                                        <div class="flex1">
                                            <button type="button " class="btn pull-right btnwidth btn-boxshadow transition block bluebtn whitecolor">Submit</button>
                                        </div>
                                    </div>
                                    <div class="displayflex block">
                                        <div class="flex2">
                                            <div class="help-text block text-right text-muted  boldfont">
                                                <small>150 Characters Only</small>
                                            </div>
                                        </div>
                                        <div class="flex1">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">Enter COUPON CODE</h6>
                                    <div class="formelements block displayflex flexend ">
                                        <div class="flex2 txet-center">
                                            <input type="text" class="block form-control" placeholder="Type Your Coupon Code Here " />

                                        </div>
                                        <div class="flex1">
                                            <button type="button " class="btn pull-right btnwidth btn-boxshadow transition block bluebtn whitecolor">Apply</button>
                                        </div>
                                    </div>

                                </div>
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">SELECT DELIVERY ADDRESS</h6>
                                    <div class=" block  ">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="addressdetails block whitebg displayflex">
                                                    <address class="displayinlineblock">
                                                        <h6>Fracktal Works Pvt. Ltd.</h6>
                                                        <p class="nomargin">
                                                            40, Primrose Rd,
                                                            <br/> Sivanchetti Gardens,
                                                            <br/> Bengaluru,
                                                            <br/> Karnataka
                                                            <br/> 560025
                                                        </p>
                                                    </address>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="block addressdetails addaddressdiv text-center displayflex whitebg">
                                                    <address class="addadresspopup_js cursorpointer triggerthreedpopup_js">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                        <br/> Add New Address
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-1 ">
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">Order Summary</h6>
                                    <div class="completesummary block whitebg marginbottom20">
                                        <div class="orderidanddate block">
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Order Id
                                                </div>
                                                <div class="flex1">
                                                    ORD24524
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Shipping Date
                                                </div>
                                                <div class="flex1">
                                                    12-01-2018
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator block"></div>
                                        <div class="orderidanddate block">
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Cart Subtotal
                                                </div>
                                                <div class="flex1">
                                                    $3433
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Discount
                                                </div>
                                                <div class="flex1">
                                                    $0
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Estimated Tax
                                                </div>
                                                <div class="flex1">
                                                    $190
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Shipping
                                                </div>
                                                <div class="flex1">
                                                    $20
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator block"></div>
                                        <div class="orderidanddate block">
                                                <div class="displayflex block">
                                                    <div class="flex2 boldfont">
                                                        Order Total
                                                    </div>
                                                    <div class="flex1 boldfont">
                                                       $3653
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="profiledetails block emailordownloadquote">
                                            <a class="editaddress cursorpointer pull-left">Email this Quote</a>
                                            <a class="editaddress cursorpointer pull-right">Download</a>
                                          
                                        </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="block proceedtopayment text-center">
                        <button type="button " class="btn  btnwidth btn-boxshadow transition bluebtn whitecolor">Proceed To Payment</button>
                    </div>
                    
                </div>
            </section>

{% endblock %}


{% block styles %}
<div class="threedviewpopup block displayflex transition">
  <div class="poupcontent whitebg displayflex transition">
    <div class="closethreedviewpopup cursorpointer closethreedviewpopup_js">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="threedimage">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="profiledetails block editaddress">
                                    <ul class="">
                                        <li class=" blackcolor text-center boldfont">
                                            ADD NEW ADDRESS
                                        </li>
                                    </ul>
                                    <ul class="flex">
                                        <li class="flex1 text-right lightcolorfont">
                                            Name
                                        </li>
                                        <li class="flex2">
                                            <input type="text" value="" class=" block">
                                        </li>
                                    </ul>
                                    <ul class="flex">
                                        <li class="flex1 text-right lightcolorfont">
                                            Line 1
                                        </li>
                                        <li class="flex2">
                                            <input type="text" value="" class=" block">
                                        </li>
                                    </ul>
                                    <ul class="flex">
                                        <li class="flex1 text-right lightcolorfont">
                                            Line 2
                                        </li>
                                        <li class="flex2">
                                            <input type="text" value="" class=" block">
                                        </li>
                                    </ul>
                                    <ul class="flex">
                                        <li class="flex1 text-right lightcolorfont">
                                            City
                                        </li>
                                        <li class="flex2">
                                            <input type="text" value="" class=" block">
                                        </li>
                                    </ul>
                                    <ul class="flex phoneinputtype">
                                        <li class="flex1 text-right lightcolorfont">
                                            State
                                        </li>
                                        <li class="flex2 flex justifycontent">
                                            <input type="text" value="" class=" block">
                                        </li>
                                    </ul>
                                    <ul class="flex">
                                        <li class="flex1 text-right lightcolorfont">
                                            Zip Code
                                        </li>
                                        <li class="flex2">
                                            <input type="text" value="" class=" block">
                                        </li>
                                    </ul>
                                    <ul class="block text-center">
                                        <li class="block text-center"><button type="button" class="btn btnwidth greenbg whitecolor ">Save</button></li>
                                    </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="editaddresspopup block displayflex transition">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 poupcontent  transition">
    <div class="upload-product block cartitems marginbottom30 whitebg">
      <figure class="block text-center whitebg">
        <img src="images/upload/2d-product.jpg" class="img-responsive displayinline" alt="" />
        <figcaption class="block flex justifycontent">
          <h3 class="pull-left"><span>1.</span> Delta.stl</h3>
          <h6 class="pull-right triggerthreedpopup_js cursorpointer">Click to view in 3D</h6>
        </figcaption>
        <div class="closeuploadedproduct cursorpointer closeEditAddressPopup_js ">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </figure>
      <div class="uploaddetails block sectionpadding20">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="typematerialcolor block">
              <div class="form-group block jqtransform zindex3">
                <select class="customselect ">
                  <option>Job Type</option>
                  <option>CNC</option>
                  <option>3D Print - FDM</option>
                  <option>3D Print - SLA</option>
                </select>
              </div>
              <div class="form-group block jqtransform zindex2">
                <select class="customselect">
                  <option>Material</option>
                  <option>Material 1</option>
                  <option>Material 2</option>
                </select>
              </div>
              <div class="form-group block nomargin jqtransform zinex1">
                <select class="customselect">
                  <option>Color</option>
                  <option>Red</option>
                  <option>White</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="unitqualityquantity block">
              <div class="form-group block displayflex">
                <div class="flex1">
                  Units :
                </div>
                <div class="flex2">
                  <ul class="flex justifycontent">
                    <li><a class="units_js unit cursorpointer active">mm</a></li>
                    <li><a class="units_js unit cursorpointer">cm</a></li>
                    <li><a class="units_js unit cursorpointer">inch</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group block displayflex">
                <div class="flex1">
                  Quality:
                </div>
                <div class="flex2">
                  <ul class="flex justifycontent">
                    <li><a class="quality_js quality cursorpointer active">Normal</a></li>
                    <li><a class="quality_js quality cursorpointer">High</a></li>
                  </ul>
                </div>
              </div>
              <div class="form-group block flex">
                <div class="flex1">
                  Quality:
                </div>
                <div class="flex2">
                  <input type="text" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 quantityinput" onkeypress="return isNumberKey(event)"/>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 flex updowncolumn">
                    <a class="increasequantity_js cursorpointer"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                    <a class="decreasequantity_js cursorpointer"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="anylysisofdesignstatus block sectionpadding10">
        <div class="flex justifycontent">
          <span class="displayinlineblock"></span>
          <h6>Analysing Design</h6><a data-toggle="tooltip" data-placement="auto" title="This will indicate whether the modal has issues or not!"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
        </div>
        <p>Please wait while we take a look at your design</p>
      </div>
      <div class="cartandpricebtn block flex ">
        <div class="flex1 displayflex">
          <div class="price"><i class="fa fa-inr" aria-hidden="true"></i>&nbsp;2360</div>
        </div>
        <div class="flex1">
          <button class="button block  active">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
           
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="libraries/textrotator/css/jquery.animatedheadline.css" />
  <link rel="stylesheet" href="libraries/scroll/css/jquery.classyscroll.css" />
  <link rel="stylesheet" href="libraries/jq/css/jqtransform.css" />
  <link rel="stylesheet" href="css/upload.css" />
{% endblock %}

{% block scripts %}
  <script src="libraries/textrotator/js/jquery.animatedheadline.min.js"></script>
  <script src="libraries/scroll/js/jquery.mousewheel.js"></script>
  <script src="libraries/scroll/js/jquery.classyscroll.js"></script>
  <script src="libraries/jq/js/jquery.jqtransform.js"></script>
  <script src="libraries/singularity-logger/js/singularity-logger.js"></script>
  <script>
    logger.label = "CART";
    logger.level = logger.LEVELS.debug;
  </script>
  <script src="js/upload.js"></script>
  <script src="libraries/three/js/three.min.js"></script>
  <script src="libraries/three/js/OrbitControls.js"></script>
  <script src="libraries/three/js/webgl_detector.js"></script>
  <script>
      jQuery(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });
  </script>
{% endblock %}
