{% extends "base.html" %}

{% block head %}
  <title>Fractory</title>
{% endblock %}

{% block content %}
           <section class="block sectionpadding50 cartwrapper lightgraybg">
               <div class="container">
                   <div class="title block marginbottom40">
                       <h3 class="displayinlineblock extraboldfont" >YOUR CART</h3>
                    </div>
                    <div class="block cartitemsheader marginbottom40">
                        <div class="row header hidden-xs lightgraybg sectionpadding10">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <h4>Price</h4>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                        <div class="block text-center">
                                            <h4>Price</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">
                                            <h4>Quantity</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="block text-center">
                                            <h4>Total</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
                                        <h4>&nbsp;</h4>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <div class="block cartadditional-details">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">Enter Order Related Request
                                        <small class="text-muted text-capitalize">Optional</small>
                                    </h6>
                                    <div class="formelements block displayflex flexend ">
                                        <div class="flex2">
                                            <textarea class="block form-control" rows="3" placeholder="Type Your Request Here" id="order_note_input"></textarea>
                                        </div>
                                        <div class="flex1">
                                        </div>
                                    </div>
                                    <div class="displayflex block">
                                        <div class="flex2">
                                            <div class="help-text block text-right text-muted  boldfont">
                                                <small>150 Characters Only</small>
                                            </div>
                                        </div>
                                        <div class="flex1">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="block marginbottom40" style="display: none;">
                                    <h6 class="text-uppercase marginbottom10">Enter COUPON CODE</h6>
                                    <div class="formelements block displayflex flexend ">
                                        <div class="flex2 txet-center">
                                            <input type="text" class="block form-control" placeholder="Type Your Coupon Code Here" id="coupon_input"/>
                                        </div>
                                        <div class="flex1">
                                            <button type="button " class="btn pull-right btnwidth btn-boxshadow transition block bluebtn whitecolor">Apply</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">SELECT DELIVERY ADDRESS</h6>
                                    <div class=" block  ">
                                        <div class="row">
                                            {% for address in user.addresses %}
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 15px;">
                                                <div class="addressdetails block whitebg displayflex" onclick="select_address('{{ address.identifier }}')">
                                                    <address class="displayinlineblock{% if user.primary_address == (loop.index - 1)  %} selected{% endif %}" id="{{ address.identifier }}" style="margin-top: 20px; white-space: nowrap; margin-left:15px; margin-right:15px;">
                                                        <h6>{{ address.identifier }}</h6>
                                                        <p class="nomargin">
                                                            {{ address.full_name }}
                                                            {% if address.organisation %}<br/> {{ address.organisation }}{% endif %}
                                                            <br/> {{ address.line_1 }}
                                                            <br/> {{ address.line_2 }}
                                                            <br/> {{ address.city }} {{ address.area_code }}
                                                            <br/> {{ address.state }}, {{ address.country }}
                                                            <br/> {{ address.phone }}
                                                        </p>
                                                    </address>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding: 15px;">
                                                <div class="block addressdetails addaddressdiv text-center displayflex whitebg">
                                                    <address class="addadresspopup_js cursorpointer triggerthreedpopup_js">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                        <br/> Add New Address
                                                    </address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-1 ">
                                <div class="block marginbottom40">
                                    <h6 class="text-uppercase marginbottom10">Order Summary</h6>
                                    <div class="completesummary block whitebg marginbottom20">
                                        <div class="orderidanddate block">
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Order Id
                                                </div>
                                                <div class="flex1" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;" id="order_id_div">
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Shipping Date
                                                </div>
                                                <div class="flex1" id="ship_by_div">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator block"></div>
                                        <div class="orderidanddate block">
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Cart Subtotal
                                                </div>
                                                <div class="flex1">
                                                    <i class='fa fa-inr' aria-hidden='true' style="padding-right: 5px;"></i><span id="subtotal_div"></span>
                                                </div>
                                            </div>
                                            <div class="displayflex block" style="display: none;">
                                                <div class="flex2">
                                                    Discount
                                                </div>
                                                <div class="flex1">
                                                    <i class='fa fa-inr' aria-hidden='true' style="padding-right: 5px;"></i><span id="discount_div"></span>
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    <span>Shipping</span>
<!--
&nbsp;&nbsp;&nbsp;<a href="#0" id="pickup_toggle" onclick="pickup" style="text-decoration: underline; color: #337ab7; font-size: 0.8em;">Pickup?</a>
-->
                                                </div>
                                                <div class="flex1">
                                                    <i class='fa fa-inr' aria-hidden='true' style="padding-right: 5px;"></i><span id="shipping_div"></span>
                                                </div>
                                            </div>
                                            <div class="displayflex block">
                                                <div class="flex2">
                                                    Estimated Tax
                                                </div>
                                                <div class="flex1">
                                                    <i class='fa fa-inr' aria-hidden='true' style="padding-right: 5px;"></i><span id="tax_div"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seperator block"></div>
                                        <div class="orderidanddate block">
                                                <div class="displayflex block">
                                                    <div class="flex2 boldfont">
                                                        Order Total
                                                    </div>
                                                    <div class="flex1 boldfont">
                                                       <i class='fa fa-inr' aria-hidden='true' style="padding-right: 5px;"></i><span id="total_div"></span>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="profiledetails block emailordownloadquote">
                                            <a class="editaddress cursorpointer pull-left" onclick="get_estimate()">Email this Quote</a>
<!--
                                            <a onclick="get_estimate()" class="editaddress cursorpointer pull-right">Download</a>
-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block proceedtopayment text-center">
                        <button type="button " class="btn  btnwidth btn-boxshadow transition bluebtn whitecolor block" style="float: none;" onclick="make_payment()">Make Payment</button>
                    </div>
                </div>
            </section>
{% endblock %}


{% block styles %}
<div class="threedviewpopup block displayflex transition">
  <div class="poupcontent whitebg displayflex transition">
    <div class="closethreedviewpopup cursorpointer closethreedviewpopup_js">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="threedimage">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form action="" method="post" enctype="multipart/form-data" class="profiledetails block editaddress">
                                    <ul class="" style="padding-bottom: 0px;">
                                        <li class=" blackcolor text-center boldfont">
                                            ADD NEW ADDRESS
                                        </li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="fatal" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Identifier</li>
                                        <li class="flex2"><input name="identifier" type="text" value="" class="block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="identifier" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Full Name</li>
                                        <li class="flex2"><input name="full_name" type="text" value="" class="block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="full_name" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Organisation</li>
                                        <li class="flex2"><input name="organisation" type="text" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="organisation" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Line 1</li>
                                        <li class="flex2"><input name="line_1" type="text" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="line_1" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Line 2</li>
                                        <li class="flex2"><input name="line_2" type="text" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="line_2" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">City</li>
                                        <li class="flex2"><input name="city" type="text" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="city" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">State</li>
                                        <li class="flex2 flex justifycontent"><input name="state" type="text" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="state" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Postal Code</li>
                                        <li class="flex2"><input name="area_code" type="text" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="area_code" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 0px;">
                                        <li class="flex1 text-right lightcolorfont">Phone</li>
                                        <li class="flex2"><input name="phone" type="phone" value="" class=" block"></li>
                                    </ul>
                                    <ul class="flex" style="padding-bottom: 5px;">
                                        <li class="flex1 text-right lightcolorfont"></li>
                                        <li class="flex2"><input id="phone" type="text" value="" class="custominputtype block" disabled="disabled" style="font-size: 0.7em; color: red; visibility:hidden;"></li>
                                    </ul>
                                    <ul class="block text-center">
                                        <li class="block text-center"><button type="button" class="btn btnwidth greenbg whitecolor block saveaddress_js" style="float: none; margin-top: 15px;">Save</button></li>
                                    </ul>
        </form>
      </div>
    </div>
  </div>
</div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="libraries/textrotator/css/jquery.animatedheadline.css" />
  <link rel="stylesheet" href="libraries/scroll/css/jquery.classyscroll.css" />
  <link rel="stylesheet" href="libraries/jq/css/jqtransform.css" />
  <link rel="stylesheet" href="libraries/intlTelInput/css/intlTelInput.css">
  <style>
    .intl-tel-input {width: 100%;}
  </style>
  <link rel="stylesheet" href="css/upload.css" />
{% endblock %}

{% block scripts %}
  <script src="libraries/textrotator/js/jquery.animatedheadline.min.js"></script>
  <script src="libraries/scroll/js/jquery.mousewheel.js"></script>
  <script src="libraries/scroll/js/jquery.classyscroll.js"></script>
  <script src="libraries/jq/js/jquery.jqtransform.js"></script>
  <script src="libraries/intlTelInput/js/intlTelInput.min.js"></script>
  <script src="libraries/singularity-logger/js/singularity-logger.js"></script>
  <script>
    logger.label = "CART";
    logger.level = logger.LEVELS.debug;
  </script>
  <script src="js/upload.js"></script>
  <script src="libraries/three/js/three.min.js"></script>
  <script src="libraries/three/js/OrbitControls.js"></script>
  <script src="libraries/three/js/webgl_detector.js"></script>
  <script>
      jQuery(document).ready(function () {
          $('[data-toggle="tooltip"]').tooltip();
      });
      var removeFromCart = function(id) {

      logger.debug("[" + id + "] Job decart requested");
      $.post("/jobs/" + id + "/decart", function(data, status){
        if ( status == "nocontent" ) {
          $("#job" + id).remove()
          jobs[id] = undefined;
          delete jobs[id];
          refresh_cart();
        } else {
          logger.error("[" + id + "] Job cart failed\n" + data);
        }
      });

      }

function validate_phone() {
  console.log("validating phone");
  $("#phone").removeClass("error")
  $("#phone").val("")
  if ( $("[name=phone]").val() == "" ) {
    $("#phone").addClass("error")
    $("#phone").val("Contact number is required");
    return false
  }
  if ( $("[name=phone]").intlTelInput("isValidNumber") ) {
    $("[name=phone]").val($("[name=phone]").intlTelInput("getNumber", 1))
    return true
  }
  $("#phone").addClass("error")
  $("#phone").val("Please enter a valid number!")
  return false
}

  $(".saveaddress_js").click(function () {
$(".saveaddress_js").attr('disabled', 'disabled');
    $("form").removeClass("invalid");
    if ( ! validate_length("Identifier", "identifier", 3, 16, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("Name", "full_name", 12, 64, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("Organisation", "organisation", 5, 64, false) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("Line 1", "line_1", 5, 64, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("Line 2", "line_2", 8, 64, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("City", "city", 2, 24, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("State", "state", 2, 24, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_length("Postal code", "area_code", 6, 6, true) ) { $("form").addClass("invalid"); }
    if ( ! validate_phone() ) { $("form").addClass("invalid"); }
    if ( $("form").hasClass("invalid") ) {
$(".saveaddress_js").prop('disabled', false);
      return false;
    }

    var address_form = new FormData($("form")[0]);
    
    $.ajax({
      type        : "POST",
      method      : "POST",
      url         : "/address-book/add",
      data        : address_form,
      cache       : false,
      contentType : false,
      processData : false,
      success: function (data) {
        logger.debug("Form pushed to server!\n");
$(".saveaddress_js").prop('disabled', false);
        $(".threedviewpopup").removeClass("active");
location.reload()
      },
      error: function (e) {
        logger.warn("Job cache could not be pushed to server!\n");
$(".saveaddress_js").prop('disabled', false);
        $(".threedviewpopup").removeClass("active");
location.reload()
      },
      async: true,
      timeout: 30*1000
    });
  });

  $("[name=phone]").intlTelInput({
    preferredCountries: ["in"],
    initialCountry: "in",
    utilsScript: "libraries/intlTelInput/js/utils.js"
  });

  var validate_length = function(label, field, min, max, required) {
    $("#" + field).removeClass("error");
    $("#" + field).val("There was some error!");
    if ( $("[name=" + field + "]").val().length == 0 && required) {
      $("#" + field).val(label + " is required!");
      $("#" + field).addClass("error");
      return false;
    }
    if ( $("[name=" + field + "]").val().length == 0 && !required) {
      return true;
    }
    if ( $("[name=" + field + "]").val().length < min ) {
      $("#" + field).val(label + " too short!");
      $("#" + field).addClass("error");
      return false;
    }
    if ( $("[name=" + field + "]").val().length > max ) {
      $("#" + field).val(label + " too long!");
      $("#" + field).addClass("error");
      return false;
    }
    return true;
  }

  $("[name=phone]").on("change", function() { validate_phone() })
  $("[name=organisation]").on("change", function() { validate_length("Organisation", "organisation", 5, 64, false); })

  $("[name=identifier]").on("change", function() { validate_length("Identifier", "identifier", 3, 16, true); })
  $("[name=full_name]").on("change", function() { validate_length("Name", "full_name", 12, 64, true); })
  $("[name=line_1]").on("change", function() { validate_length("Line 1", "line_1", 5, 64, true); })
  $("[name=line_2]").on("change", function() { validate_length("Line 2", "line_2", 8, 64, true); })
  $("[name=city]").on("change", function() { validate_length("City", "city", 2, 24, true); })
  $("[name=state]").on("change", function() { validate_length("State", "state", 2, 24, true); })
  $("[name=area_code]").on("change", function() { validate_length("Postal code", "area_code", 6, 6, true); })

var jobs = []
var load_job = function(job) {

jobs[job.id] = job;
var jobDiv = ""
jobDiv += "<div id='job" + job.id + "' class='row flex sectionpadding20 productsaddedtocart'>\n";
jobDiv += "  <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>\n";
jobDiv += "    <div class='products flex'>\n";
jobDiv += "        <img src='" + job.thumbnail + "' class='img-responsive' alt='Thumb'>\n";
jobDiv += "      <div class='checkout-products'>\n";
jobDiv += "        <h5>" + job.name + "</h5>\n";
if ( job.settings.job_type == 'FDM' || job.settings.job_type == 'SLA' || job.settings.job_type == 'SLS' ) {
jobDiv += "        <h6 class='weight lightcolor'>3D Print - " + job.settings.job_type + "</h6>\n";
} else {
jobDiv += "        <h6 class='weight lightcolor'>" + job.settings.job_type + "</h6>\n";
}
jobDiv += "        <h6>Material:" + job.settings.material + "</h6>\n";
jobDiv += "      </div>\n";
jobDiv += "    </div>\n";
jobDiv += "  </div>\n";
jobDiv += "  <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>\n";
jobDiv += "    <div class='row flex justifycontent'>\n";
jobDiv += "      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>\n";
jobDiv += "        <div class='block text-center'><i class='fa fa-inr' aria-hidden='true'></i>\n";
jobDiv += "          <span>" + job.cache.quote + "</span>\n";
jobDiv += "        </div>\n";
jobDiv += "      </div>\n";
jobDiv += "      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>\n";
jobDiv += "        <div class='enterquantity block text-center'>\n";
jobDiv += "          <span>" + job.settings.quantity + "</span>\n";
//jobDiv += "          <input type='text' placeholder='' class='form-control' value=" + job.settings.quantity + ">\n";
jobDiv += "        </div>\n";
jobDiv += "      </div>\n";
jobDiv += "      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>\n";
jobDiv += "        <div class='block text-center'><i class='fa fa-inr' aria-hidden='true'></i>\n";
jobDiv += "          <span>" + ( job.cache.quote * job.settings.quantity ) + "</span>\n";
jobDiv += "        </div>\n";
jobDiv += "      </div>\n";
jobDiv += "      <div class='col-lg-3 col-md-3 col-sm-3 col-xs-12'>\n";
jobDiv += "        <div class='block text-right'>\n";
jobDiv += "          <a class='cursorpointer boldfont redcolor' onclick='removeFromCart(\"" + job.id + "\")'>Remove</a>\n";
jobDiv += "        </div>\n";
jobDiv += "      </div>\n";
jobDiv += "    </div>\n";
jobDiv += "  </div>\n";
jobDiv += "</div>\n";

$('.cartitemsheader').append(jobDiv);


}
    {% for job in jobs %}
      load_job({{ job }});
    {% endfor %}
var oid = window.user.id + "-" +  ((new Date()).getTime().toString().substring(5) + Math.random().toString().substring(2));
var refresh_cart = function() {
  var id = oid.substring(oid.length - 10);
  var ship_date = new Date();

  var subtotal = 0;
  var discount = 0;
  var tax      = 0;
  var shipping = 140;
  var total    = 0;

  var ship_by_div  = $("#ship_by_div");
  var order_id_div = $("#order_id_div");

  var subtotal_div = $("#subtotal_div");
  var discount_div = $("#discount_div");
  var tax_div      = $("#tax_div");
  var shipping_div = $("#shipping_div");
  var total_div    = $("#total_div");

  order_id_div.html(id);

  if ( ship_date.getHours() > 15 ) {
    ship_date.setDate(ship_date.getDate() + 1);
  }
  if ( ship_date.getDay() > 4 ) {
    ship_date.setDate(ship_date.getDate() + 1);
  }
  ship_date.setDate(ship_date.getDate() + 3);

  var days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

  ship_date = days[ship_date.getDay()] + " " + months[ship_date.getMonth()] + " " + ship_date.getDate() + " " + (ship_date.getYear() + 1900);
  ship_by_div.html(ship_date);

  for ( i in jobs ) {
    if ( jobs[i].cache && jobs[i].cache.quote && jobs[i].settings.quantity ) {
      subtotal += parseInt(jobs[i].cache.quote) * parseInt(jobs[i].settings.quantity);
      shipping += jobs[i].settings.quantity * 60;
    }
  }

  // TODO discount

  tax = Math.round((subtotal - discount + shipping)*18)/100;
  total = subtotal - discount + tax + shipping;
  total = Math.round(total*100)/100;
  console.log(subtotal);
  console.log(discount);
  console.log(tax);
  console.log(shipping);
  console.log(total);
  
  subtotal_div.html(subtotal);
  discount_div.html(discount);
  shipping_div.html(shipping);
  tax_div.html(tax);
  total_div.html(total);
}

refresh_cart();

var select_address = function(id) {
  $("address").removeClass("selected");
  $("#" + id).addClass("selected");
}

var make_payment = function() {
  var order = {}
  order.id = oid;
  order.address = $("address").index($("address.selected"));
  order.jobs = [];
  if ( order.address == "-1" ) {
    alert("Please select an address!");
    return;
  }

  for ( job in jobs ) {
    order.jobs.push(job);
  }

  var coupon_input = $("#coupon_input");
  var order_note_input = $("#order_note_input");

  order.coupon          = coupon_input.val();
  order.note            = order_note_input.val();

  $.ajax({
      uri:    "/orders/" + order.id + "/create",
      url:    "/orders/" + order.id + "/create",
      method: "POST",
      type:   "POST",
      cache:  false,
      data:   JSON.parse(JSON.stringify(order)),
      dataType: "json",
      success: function(data) {
        var f = document.createElement("form");
        f.setAttribute('method',"post");
        f.setAttribute('action',"https://secure.paytm.in/oltp-web/processTransaction");
        f.setAttribute('style',"display: none;");

        for ( var key in data ) {
          var ele = document.createElement("input");
          ele.setAttribute('type',"text");
          ele.setAttribute('name',key);
          ele.setAttribute('value',data[key]);
          ele.setAttribute('r',true);

          f.appendChild(ele);
        }
        document.body.append(f);
        f.submit();
      },
      error: function(a,b,c) {
        alert("Some error occurred! Please try again later...");
      },
      statusCode: {
        403: function() {
          window.location.href = window.location.protocol + "//" + window.location.host + "/?tag=signin&redirect=%2Fcart"
        },
        401: function() {
          window.location.href = window.location.protocol + "//" + window.location.host + "/?tag=signin&redirect=%2Fcart"
        },
        302: function() {
          window.location.href = window.location.protocol + "//" + window.location.host + "/?tag=signin&redirect=%2Fcart"
        }
      }
  });
}
var get_estimate = function() {
  var order = {}
  order.id = oid;
  order.address_identifier = $("address").index($("address.selected"));
  if ( order.address_identifier == "-1" ) {
    alert("Please select an address!");
    return;
  }
  order.ship_pickup = "Ship";

  $.ajax({
      uri:    "/cart/estimate",
      url:    "/cart/estimate",
      method: "POST",
      type:   "POST",
      cache:  false,
      data:   JSON.parse(JSON.stringify(order)),
      dataType: "json",
      success: function(data) {
        console.log(data);
        alert("The quote has been mailed to you at '" + user.email + "'");
      },
      error: function(a,b,c) {
        alert("Some error occurred! Please try again later...");
        console.log(a);
        console.log(b);
        console.log(c);
      }
  });
}
  </script>
{% endblock %}
