<html>
<head>
  <title>Quote Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <table id="jobs" class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th style="display: none;">Uploaded</th>
        <th style="display: none;">Job ID</th>
        <th>Uploaded</th>
        <th>Name</th>
        <th>By</th>
        <th>Type</th>
        <th>Settings</th>
        <th>File</th>
<!--
        <th>Additional Files</th>
        <th>GCode</th>
-->
        <th>Quote</th>
        <th>Message</th>
        <th>Assign Fractory</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script>
    var update_quote = function (id) {
      var quote = parseInt($("#" + id).find("[name=quote]").val());
      console.log(quote)
      if ( quote > 10 && jobs[id].cache.quote != quote ) {
        $("#" + id).find("[name=quote]").val(quote);
        $.ajax({
          uri: "/jobs/" + id + "/set_quote/" + quote,
          url: "/jobs/" + id + "/set_quote/" + quote,
          method: "POST",
          type: "POST",
          complete: function() {
            window.location.reload();
          }
        });
      }
    }

    var set_fractory = function (id) {
      var quote = $("#" + id).find("[name=fractory]").val();
      console.log(quote)
      $.ajax({
        uri: "/jobs/" + id + "/set_fractory/" + quote,
        url: "/jobs/" + id + "/set_fractory/" + quote,
        method: "POST",
        type: "POST"
      });
    }

    var send_msg = function (id) {
      console.log($("#" + id).find("[name=msg]").val());
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/jobs/" + id + "/support/msg/usr",
        data: {body: $("#" + id).find("[name=msg]").val()}
      });
    }
    var jobs = {};
    var load_job = function(job) {
      jobs[job.id] = job;
      var jobDiv = ""
      if ( job.cache.quote ) {
        jobDiv += "<tr id='" + job.id + "'>\n";
      } else {
        jobDiv += "<tr class='danger' id='" + job.id + "'>\n";
      }
      jobDiv += "  <td style='display: none;'>" +  (job.tracking.uploaded_at) + "</td>\n";
      jobDiv += "  <td style='display: none;'>" + job.id + "</td>\n";
      jobDiv += "  <td>" + new Date(job.tracking.uploaded_at) + "</td>\n";

      jobDiv += "  <td>" + job.name + "</td>\n";
      jobDiv += "  <td>" + job.thumbnail + "</td>\n";
      jobDiv += "  <td>" + job.settings.job_type + "</td>\n";
      jobDiv += "  <td>Material: " + job.settings.material + "<br/>Density: " + job.settings.density + "<br/>Finish: " + job.settings.finish + "</td>\n";
      jobDiv += "  <td><a href='/jobs/" + job.id + "/model'><button>Download</button></td></a>\n";
//      jobDiv += "  <td><a href='/jobs/" + job.id + "/extra'><button>Download</button></td></a>\n";
//      jobDiv += "  <td><button onclick='upload_gcode(\"" + job.id + "\")'>Upload</button></td>\n";
      jobDiv += "  <td><input type='text' name='quote' value='" + job.cache.quote + "'></input><button onclick='update_quote(\"" + job.id + "\")'>Update</button></td>\n";
      jobDiv += "  <td><textarea rows='4' cols='50' name='msg'></textarea><button onclick='send_msg(\"" + job.id + "\")'>Send</button></td>\n";
      jobDiv += "  <td>\n";
      jobDiv += "    <select name='fractory' onchange='set_fractory(\"" + job.id + "\")'>\n";
      jobDiv += "      <option selected disabled>Select Fractory</option>\n";
      jobDiv += "      <option value='001'>Fractory 001</option>\n";
      jobDiv += "      <option value='002'>Fractory 002</option>\n";
      jobDiv += "  </td>\n";
      jobDiv += "  <td></td>";
      jobDiv += "</tr>\n";

      $('tbody').prepend(jobDiv);
      $("#" + job.id ).find('select').val(job.fractory);
    }

    {% for job in jobs %}
      load_job({{ job }});
    {% endfor %}

    (function() {
      var table, rows, switching, i, x, y, shouldSwitch;
      table = document.getElementById("jobs");
      switching = true;
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.getElementsByTagName("tr");
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("td")[0];
          y = rows[i + 1].getElementsByTagName("td")[0];
          // Check if the two rows should switch place:
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            // I so, mark as a switch and break the loop:
            shouldSwitch= true;
            break;
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
        }
      }
    })();

  </script>
</body>
</html>
