<html>
<head>
  <title>Order Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <table id="jobs" class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Ship By</th>
        <th>ID</th>
        <th>Name</th>
        <th>By</th>
        <th>Type</th>
        <th>Settings</th>
        <th>File</th>
<!--
        <th>Additional Files</th>
        <th>GCode</th>
-->
        <th>Quote</th>
        <th>State</th>
        <th>Message</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <script>
    var change_order_state = function (id) {
      console.log($("#" + id).find("select").val());
      if ( $("#" + id).find("select").val() ) {
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/orders/" + id + "/" + $("#" + id).find("select").val().toLowerCase(),
      });
      }
    }

    var change_job_state = function (id) {
      console.log($("#" + id).find("select").val());
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/jobs/" + id + "/" + $("#" + id).find("select").val().toLowerCase(),
      });
    }

    var send_msg = function (id) {
      console.log($("#" + id).find("[name=msg]").val());
      $.ajax({
        method: "POST",
        type: "POST",
        url: "/orders/" + id + "/support/msg/usr",
        data: {body: $("#" + id).find("[name=msg]").val()}
      });
    }

    var jobs = {};
    var orders = {};
    var sorted_orders = {};
    var pending_orders = {};
    var delivered_orders = {};
    var users = {};

    var load_user = function(user) {
      users[user._id] = user.fname;
    }

    var load_job = function(job) {
      jobs[job.id] = job;
    }

    var load_order = function(order) {
      orders[order.id] = order;
      if ( order.tracking && order.tracking.state == "DELIVERED" ) {
        delivered_orders[(new Date(order.ship_by)).getTime() + "-" + order.id] = order.id;
      } else if ( order.txnid ) {
        sorted_orders[(new Date(order.ship_by)).getTime() + "-" + order.id] = order.id;
      } else {
        pending_orders[(new Date(order.ship_by)).getTime() + "-" + order.id] = order.id;
      }
    }

    var display = function(orders_class) {
      for (key in orders_class) {
        var order = orders[orders_class[key]];
        console.log("###");
        console.log(order);
        for ( var j = 0; j < order.jobs.length; j++ ) {
          var row = "";
          var job = jobs[order.jobs[j]];
          row += "<tr id='" + job.id + "'>\n";
          row += "  <td></td>\n";
          row += "  <td>" + job.id + "</td>\n";
          row += "  <td style='white-space: nowrap;'>" + job.name + "</td>\n";
          row += "  <td></td>\n";
          row += "  <td>" + job.settings.job_type + "</td>\n";
          row += "  <td style='white-space: nowrap;'>Material: " + job.settings.material + "<br/>Density: " + job.settings.density + "<br/>Finish: " + job.settings.finish + "</td>\n";
          row += "  <td><a href='/jobs/" + job.id + "/model'><button>Download</button></td></a>\n";
//          row += "  <td><a href='/jobs/" + job.id + "/extra'><button>Download</button></td></a>\n";
//          row += "  <td><button onclick='upload_gcode(\"" + job.id + "\")'>Upload</button></td>\n";
          row += "  <td>" + job.cache.quote + "</td>\n";
          row += "  <td>\n";
          row += "    <select onchange='change_job_state(\"" + job.id + "\")'>\n";
          row += "      <option value='PLACED'>Placed</option>\n";
          row += "      <option value='CONFIRMED'>Confirmed</option>\n";
          row += "      <option value='PRINTING'>Printing</option>\n";
          row += "      <option value='READY'>Ready</option>\n";
          row += "      <option value='SHIPPED'>Shipped</option>\n";
          row += "      <option value='DELIVERED'>Delivered</option>\n";
          row += "    </select>\n";
          row += "  </td>\n";
          row += "  <td></td>\n";
          row += "  <td></td>\n";
          row += "</tr>\n";
          $('tbody').prepend(row);
          console.log(job.tracking.state.toUpperCase())
          if ( job.tracking.state.toUpperCase() == "CREATED" ||
               job.tracking.state.toUpperCase() == "UPLOADED" ||
               job.tracking.state.toUpperCase() == "ANALYSED" ||
               job.tracking.state.toUpperCase() == "CARTED" ) {
            jobs[order.jobs[j]].tracking.state = "PLACED";
            job.tracking.state = "PLACED";
            change_job_state(job.id);
          }
          $("#" + job.id ).find('select').val(job.tracking.state.toUpperCase());
        }
        var row = ""
        row += "<tr id='" + order.id + "' style='border-top: black; border-top-style: double;'>\n";
        row += "  <td style='white-space: nowrap;'>" + order.ship_by + "</td>\n";
        row += "  <td>" + order.id + "</td>\n";
        row += "  <td></td>\n";
        row += "  <td>" + users[order.user] + "</td>\n";
        row += "  <td></td>\n";
        row += "  <td>" + order.note + "</td>\n";
        row += "  <td></td>\n";
//        row += "  <td></td>\n";
//        row += "  <td></td>\n";
        row += "  <td style='white-space: nowrap;'>Subtotal: " + order.totals.subtotal + "<br/>Discount: " + order.totals.discount + "<br/>Shipping: " + order.totals.shipping + "<br/>Tax: " + order.totals.tax + "<br/><b>Total: " + order.totals.total + "</b></td>\n";
        if ( order.tracking && order.tracking.state ) {
          if (order.tracking.state == "PENDING") {
            row += "  <td><b style='color: red;'>PENDING</b></td>";
          } else {
            row += "  <td>\n";
            row += "    <select onchange='change_order_state(\"" + order.id + "\")'>\n";
            row += "      <option value='PLACED' selected>Placed</option>\n";
            row += "      <option value='CONFIRMED'>Confirmed</option>\n";
            row += "      <option value='PRINTING'>Printing</option>\n";
            row += "      <option value='READY'>Ready</option>\n";
            row += "      <option value='SHIPPED'>Shipped</option>\n";
            row += "      <option value='DELIVERED'>Delivered</option>\n";
            row += "    </select>\n";
            row += "  </td>\n";
          }
        } else if ( order.txnid ) {
          row += "  <td>\n";
          row += "    <select onchange='change_order_state(\"" + order.id + "\")'>\n";
          row += "      <option value='PLACED' selected>Placed</option>\n";
          row += "      <option value='CONFIRMED'>Confirmed</option>\n";
          row += "      <option value='PRINTING'>Printing</option>\n";
          row += "      <option value='READY'>Ready</option>\n";
          row += "      <option value='SHIPPED'>Shipped</option>\n";
          row += "      <option value='DELIVERED'>Delivered</option>\n";
          row += "    </select>\n";
          row += "  </td>\n";
        } else {
          row += "  <td><b style='color: red;'>PENDING</b></td>";
        }
        row += "  <td><textarea rows='4' cols='50' name='msg'></textarea><button onclick='send_msg(\"" + order.id + "\")'>Send</button></td>\n";
        row += "  <td style='white-space: nowrap;'>" + order.shipping_address.full_name + "<br/>" + order.shipping_address.organisation + "<br/>" + order.shipping_address.line_1 + "<br/>" + order.shipping_address.line_2 + "<br/>" + order.shipping_address.city + " " + order.shipping_address.area_code + "<br/>" + order.shipping_address.state + "<br/>" + order.shipping_address.phone + "</td>\n";
        row += "</tr>\n";
        $('tbody').prepend(row);
        if ( order.tracking && order.tracking.state ) {
          $("#" + order.id ).find('select').val(order.tracking.state.toUpperCase());
        }
        change_order_state(order.id);
      }
    }

    {% for user in users %}
      load_user({{ user }});
    {% endfor %}

    {% for job in jobs %}
      load_job({{ job }});
    {% endfor %}

    {% for order in orders %}
      load_order({{ order }});
    {% endfor %}

    display(delivered_orders);
    display(pending_orders);
    display(sorted_orders);

  </script>
</body>
</html>
