{% extends "base.html" %}

{% block head %}
  <title>Fractory</title>
{% endblock %}

{% block content %}
            <section class="block displayflex profilewrapper">
                <div class="profilemenuwrapper block whitecolor text-center">
                    <img src="media/avatar.png" class="img-responsive displayinline marginbottom40" alt="" />
                    <h3>Hi <span>{{ user.fname }}</span></h3>

                    <ul class="block sectionpadding50 text-left">
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/orders" class="active">Orders</a></li>
                        <li><a href="/upload" class="active">Uploads</a></li>
                        <li><a href="/address-book">Address Book</a></li>
                    </ul>

                    <button type="button" class="btn block themebg">Logout</button>
                </div>

                <div class="profilecontentswrapper  block whitebg">
                    <h3 class="marginbottom40 displayinlineblock">ORDERS</h3>

                    <div class="orderswrapper block scrollbars">
                        <div class="table-responsive">
                            <table class="block text-center">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Date</th>
                                        <th>Total Amount</th>
                                        <th>Order Status</th>
                                        <th>Transaction ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="backandsavebuttons block">
                        <button type="button" class="btn btnwidth themebg whitecolor block pull-right savedetails_js">Close</button>
                    </div>

                    <div class="orderdetialswrapper  block transition">
                        <div class="closeorderdetailswrapper block sectionpadding10">
                            <a class="closeOrderDeatils_js whitebg pull-right cursorpointer"><img src="media/closebtn.png" class="img-responsive" alt=""/></a>
                        </div>
                        <div class="detailswrapper">
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="libraries/textrotator/css/jquery.animatedheadline.css" />
    <link rel="stylesheet" href="libraries/scroll/css/jquery.classyscroll.css" />
    <link rel="stylesheet" href="libraries/intlTelInput/css/intlTelInput.css">
    <style>
      .intl-tel-input {width: 100%;}
    </style>
<link rel="stylesheet" href="css/profile.css" />
{% endblock %}

{% block scripts %}
    <script src="libraries/textrotator/js/jquery.animatedheadline.min.js"></script>
    <script src="libraries/scroll/js/jquery.mousewheel.js"></script>
    <script src="libraries/scroll/js/jquery.classyscroll.js"></script>
    <script src="libraries/intlTelInput/js/intlTelInput.min.js"></script>
    <script src="js/profile.js"></script>
    <script>
      var jobs = {};
      var orders = {};

      var load_job = function(job) {
        jobs[job.id] = job;
      }

      var days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
      var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

      var load_order = function(order) {
        orders[order.id] = order;
        var row = ""
        row += "<tr class='triggerOrderDetails_js' onclick='display_order(\"" + order.id + "\")'>\n";
        row += "  <td class='text-left cursorpointer'>" + order.id.substring(order.id.length - 10) + "</td>\n";
        if (order.tracking && order.tracking.created_at) {
          var d = new Date(order.tracking.created_at);
          row += "  <td>" + days[d.getDay()] + " " + months[d.getMonth()] + " " + d.getDate() + " " + (d.getYear() + 1900) + "</td>\n";
        } else {
//          var d = new Date(order.ship_by);
//          d.setDate(d.getDate() - 3);
//          row += "  <td>" + days[d.getDay()] + " " + months[d.getMonth()] + " " + d.getDate() + " " + (d.getYear() + 1900) + "</td>\n";
          row += "  <td> --- </td>\n";
        }
        row += "  <td>INR " + order.totals.total + "</td>\n";
        if ( order.tracking && order.tracking.state ) {
          row += "  <td>" + order.tracking.state + "</td>\n";
        } else if ( order.txnid ) {
          row += "  <td>" + "PLACED" + "</td>\n";
        } else {
          row += "  <td>" + "PENDING" + "</td>\n";
        }
        if ( order.txnid ) {
         row += "  <td>" + order.txnid + "</td>\n";
        } else {
         row += "  <td> --- </td>\n";
        }
        row += "</tr>\n";
        $('tbody').prepend(row);
      }

      var display_order = function(id) {
      }

      {% for job in jobs %}
        load_job({{ jobs }});
      {% endfor %}
      {% for order in orders %}
        load_order({{ order }});
      {% endfor %}
    </script>
{% endblock %}
