<html>
<head>
  <title>Your browser is not supported!</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PMQTDZN');</script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108721934-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-108721934-2');
  </script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
  <!--[if gt IE 9]>
    <script type="text/javascript">
      window.location = "/";
    </script>
  <![endif]-->
<style>
  body {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    background-color: #f6f6f6;
  }
</style>
<style>
  @media (max-width: 480px){
    body {
      font-size: 16px;
    }
  }
  @media (max-width: 360px){
    .modal-content {
      padding: 0;
    }
  }
  @media (min-width: 768px) {
    .col-sm-3 {
      min-width: 360px;
    }
  }
  @media (max-width: 768px) {
    .col-sm-3 {
      max-width: 480px;
    }
  }
</style>
</head>
<body>
<div class="container" style="display: block; height: 100%;">
  <div style="display: block; margin-left: auto; margin-right: auto;">
    <p style="display: block; margin: auto; text-align: center; margin-top: 1em; font-family: Montserrat;font-size: 2.0em;font-weight: 300;">Your browser is <span style="font-weight: 500;">not</span> supported!</p>
    <p style="display: block; margin: auto; text-align: center; margin-top: 1em; font-family: Montserrat;font-size: 1.0em;font-weight: 300;">Please upgrade to one of the supported browsers...</p>
    <div style="text-align: center; margin-top: 5%;">
      <a style="width: 180px; display: inline-block; margin: 10px; text-decoration: none; color: inherit;" href="https://www.microsoft.com/en-in/download/Internet-Explorer-11-for-Windows-7-details.aspx">
        <img src="/media/browsers/microsoft-ie.png" style="width: 56px; height: 56px; margin: 10px;"/><br/>
        <span style="font-family: Montserrat;font-size: 0.8em;font-weight: 300;">Internet Explorer</span><br/>
        <span style="font-family: Montserrat;font-size: 0.6em;font-weight: 300;">11 and above</span>
      </a>
      <a style="width: 180px; display: inline-block; margin: 10px; text-decoration: none; color: inherit;" href="https://www.microsoft.com/en-in/windows/microsoft-edge">
        <img src="/media/browsers/microsoft-edge.svg" style="width: 56px; height: 56px; margin: 10px;"/><br/>
        <span style="font-family: Montserrat;font-size: 0.8em;font-weight: 300;">Microsoft Edge</span><br/>
        <span style="font-family: Montserrat;font-size: 0.6em;font-weight: 300;">&nbsp;</span>
      </a>
      <a style="width: 180px; display: inline-block; margin: 10px; text-decoration: none; color: inherit;" href="https://www.google.com/chrome">
        <img src="/media/browsers/google-chrome.png" style="width: 56px; height: 56px; margin: 10px;"/><br/>
        <span style="font-family: Montserrat;font-size: 0.8em;font-weight: 300;">Google Chrome</span><br/>
        <span style="font-family: Montserrat;font-size: 0.6em;font-weight: 300;">40 and above</span>
      </a>
      <a style="width: 180px; display: inline-block; margin: 10px; text-decoration: none; color: inherit;" href="https://www.mozilla.org/en-US/firefox">
        <img src="/media/browsers/mozilla-firefox.png" style="width: 56px; height: 56px; margin: 10px;"/><br/>
        <span style="font-family: Montserrat;font-size: 0.8em;font-weight: 300;">Mozilla Firefox</span><br/>
        <span style="font-family: Montserrat;font-size: 0.6em;font-weight: 300;">35 and above</span>
      </a>
      <a style="width: 180px; display: inline-block; margin: 10px; text-decoration: none; color: inherit;" href="https://www.apple.com/in/safari">
        <img src="/media/browsers/apple-safari.png" style="width: 56px; height: 56px; margin: 10px;"/><br/>
        <span style="font-family: Montserrat;font-size: 0.8em;font-weight: 300;">Apple Safari</span><br/>
        <span style="font-family: Montserrat;font-size: 0.6em;font-weight: 300;">10 and above</span>
      </a>
    </div>
  </div>
</div>
</body>
</html>
