{% extends "base.html" %}

{% block head %}
  <title>Fractory</title>
{% endblock %}

{% block content %}
            <section class="block sectionpadding50 cartwrapper lightgraybg">
                        <input id="fileuploadinput" type="file" style="display:none" />

                <div class="container" id="container">

                    <div class="draganddropwraper block marginbottom40" onclick="document.getElementById('fileuploadinput').click();">
                        <h2 class="displayinlineblock">Drag and drop files or Click to <span class="extraboldfont">upload</span></h2>

                        <p>
                            <strong> Supported file formats:</strong><br/> 3D Printing: STL, OBJ, VF<br/> CNC: STEP<br/> Maximum file size: 60MB
                        </p>
                    </div>


                    <div class="cartitemswrapper block hidden">
                    </div>
                    <div class="uploadwrapper block marginbottom40" style="min-height: 495px">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </section>
            <div class="cartfloatingbutton whitecolor" onclick="window.location='/cart'">
                        <div class="cartcount whitebg displayflex"><span class="redcolor">{{ cart }}</span></div>
                        <i class="fa fa-shopping-cart displayinlineblock" aria-hidden="true" style="margin: auto;font-size: 2rem;padding: 5px 0;"></i>
                        <h6 style="text-align: center; margin: 0px 10px 35px 10px;"><b>CART</b></h6>
                    </div>
            <div class="threedviewpopup block displayflex transition">
                <div class="poupcontent whitebg displayflex transition">
                    <div class="closethreedviewpopup cursorpointer closethreedviewpopup_js">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="threedimage">
                    <img src="/media/threedview.png" class="img-responsive" alt=""/>
                </div>
                <div class="details"><span class="boldfont">Max part volume :</span> 250*250*250mm</div>
                </div>
            </div>
{% endblock %}


{% block styles %}
<div id="survey" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div id="survey-content" class="modal-content">
    </div>
  </div>
</div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="libraries/textrotator/css/jquery.animatedheadline.css" />
  <link rel="stylesheet" href="libraries/scroll/css/jquery.classyscroll.css" />
  <link rel="stylesheet" href="libraries/jq/css/jqtransform.css" />
  <link rel="stylesheet" href="css/upload.css" />
{% endblock %}

{% block scripts %}
  <script src="libraries/textrotator/js/jquery.animatedheadline.min.js"></script>
  <script src="libraries/scroll/js/jquery.mousewheel.js"></script>
  <script src="libraries/scroll/js/jquery.classyscroll.js"></script>
  <script src="libraries/jq/js/jquery.jqtransform.js"></script>
  <script src="libraries/singularity-logger/js/singularity-logger.js"></script>
  <script>
    logger.label = "UPLOAD";
    logger.level = logger.LEVELS.debug;
  </script>
  <script src="js/upload.js"></script>
  <script src="libraries/three/js/three.min.js"></script>
  <script src="libraries/three/js/OrbitControls.js"></script>
  <script src="libraries/three/js/webgl_detector.js"></script>

  <script>
    jQuery(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });

var viewJob = function(id) {
  if ( mesh != null ) {
    scene.remove(mesh);
    mesh = null;
  }
  workers[id].postMessage({action: "geometry"});
  $("#survey").modal({keyboard: true, show: true});
}

var deleteJob = function(id) {
  logger.debug("[" + id + "] Job delete requested");
  $.post("/jobs/" + id + "/delete", function(data, status){
    if ( status == "nocontent" ) {
      $("#job" + id).remove()
      jobs[id] = undefined;
      delete jobs[id];
    } else {
      logger.error("[" + id + "] Job delete failed\n" + data);
    }
  });
}

var onAddToCart = function(id) {
  logger.debug("[" + id + "] Job cart requested");
  $.post("/jobs/" + id + "/cart", function(data, status){
    if ( status == "nocontent" ) {
      $("#job" + id).remove()
      jobs[id] = undefined;
      delete jobs[id];
      var c = parseInt($(".redcolor").html());
      if ( c >= 0 ) {
        c = c+1;
      } else {
        c = 1;
      }
      $(".redcolor").html(c);
    } else {
      logger.error("[" + id + "] Job cart failed\n" + data);
    }
  });
}

var requestQuote = function(id) {
  logger.debug("[" + id + "] Job quote requested");
  // TODO send to server
        var job = jobs[id];
        var job_form = new FormData();

        job_form.append("name", job.name);
        job_form.append("cache", JSON.stringify(job.cache));
        job_form.append("settings", JSON.stringify(job.settings));
        job_form.append("errors", JSON.stringify(job.errors));

        $.ajax({
          type        : "POST",
          method      : "POST",
          url         : "/jobs/" + job.id,
          data        : job_form,
          cache       : false,
          contentType : false,
          processData : false,
          success: function (data) {
            logger.debug("Job pushed to server :D");
          },
          error: function (e) {
            logger.alert("Job could not be pushed to server!\n" + JSON.stringify(e, null, 3));
          },
          async: true,
          timeout: 30*1000
        });

  // TODO ask quote from worker
}

var cancelQuote = function(id) {
  logger.debug("[" + id + "] Job quote reset");
  $("#job" + id).find(".price").html("");
  $("#job" + id).find("button").html("Get Quote");
  $("#job" + id).find("button").removeClass("active");
  $("#job" + id).find("button").addClass("getquote");
}

var onChangeJobType = function(id) {
  var val = $("#job" + id).find(".zindex3").find("select").val();

  if ( val != null && val != '---' && configuration[val] && configuration[val].MATERIALS ) {
    if ( val == jobs[id].settings.job_type && $("#job" + id).find(".zindex2").find("option").length > 1 ) { return; }

    logger.debug("[" + id + "] Job type changed to '" + val + "'");
    var materials = "";
    materials += "\n              <select class='customselect' onchange='onChangeJobMaterial(\"" + id + "\")'>\n";
    materials += "                <option value='---' disabled selected>Material</option>\n";
    for ( var i = 0; i < configuration[val].MATERIALS.length; i++ ) {
      materials += "                <option value=" + configuration[val].MATERIALS[i] + ">" + configuration[val].MATERIALS[i] + "</option>\n";
    }
    materials += "              </select>\n";
    if ( materials.indexOf("value='" + configuration[val].DEFAULT_MATERIAL + "'") > 0 ) {
      materials.replace("value='" + configuration[val].DEFAULT_MATERIAL + "'", "value='" + configuration[val].DEFAULT_MATERIAL + "' selected")
    } else {
      materials.replace("value='---'", "value='---' selected")
    }

    var finish = "";
    finish += "\n              <select class='customselect' onchange='onChangeJobFinish(\"" + id + "\")'>\n";
    finish += "                <option value='---' disabled>Finish</option>\n";
    for ( var i = 0; i < configuration[val].FINISH.length; i++ ) {
      finish += "                <option value=" + configuration[val].FINISH[i] + ">" + configuration[val].FINISH[i] + "</option>\n";
    }
    finish += "              </select>\n";
    if ( finish.indexOf("value='" + configuration[val].DEFAULT_FINISH + "'") > 0 ) {
      finish.replace("value='" + configuration[val].DEFAULT_FINISH + "'", "value='" + configuration[val].DEFAULT_FINISH + "' selected")
    } else {
      finish.replace("value='---'", "value='---' selected")
    }
    if ( configuration[val].FINISH && configuration[val].FINISH.length > 0 ) {
      $("#job" + id).find(".zindex1").css("opacity",1);
    } else {
      $("#job" + id).find(".zindex1").css("opacity",0);
    }

    var density = "";
    density += "\n              <select class='customselect' onchange='onChangeJobDensity(\"" + id + "\")'>\n";
    density += "                <option value='---' disabled>Density</option>\n";
    for ( var i = 0; i < configuration[val].DENSITY.length; i++ ) {
      density += "                <option value=" + configuration[val].DENSITY[i] + ">" + configuration[val].DENSITY[i] + "</option>\n";
    }
    density += "              </select>\n";
    if ( density.indexOf("value='" + configuration[val].DEFAULT_DENSITY + "'") > 0 ) {
      density.replace("value='" + configuration[val].DEFAULT_DENSITY + "'", "value='" + configuration[val].DEFAULT_DENSITY + "' selected")
    } else {
      density.replace("value='---'", "value='---' selected")
    }
    if ( configuration[val].DENSITY && configuration[val].DENSITY.length > 0 ) {
      $("#job" + id).find(".zindex0").slideDown(300);
    } else {
      $("#job" + id).find(".zindex0").slideUp(300);
    }

    $("#job" + id).find(".zindex2").removeClass("jqtransformdone");
    $("#job" + id).find(".zindex2").html(materials);
    $("#job" + id).find(".zindex1").removeClass("jqtransformdone");
    $("#job" + id).find(".zindex1").html(finish);
    $("#job" + id).find(".zindex0").removeClass("jqtransformdone");
    $("#job" + id).find(".zindex0").html(density);
    $(".jqtransform").jqTransform();

    if ( val != jobs[id].settings.job_type ) {

    cancelQuote(id);

    jobs[id].settings.job_type = val;

    val = $("#job" + id).find(".zindex2").find("select").val();
    jobs[id].settings.material = $("#job" + id).find(".zindex2").find("select").val();
    if ( val == '---' || val == null ) {
      jobs[id].settings.material = "";
    }

    val = $("#job" + id).find(".zindex1").find("select").val();
    jobs[id].settings.finish = $("#job" + id).find(".zindex1").find("select").val();
    if ( val == '---' || val == null ) {
      jobs[id].settings.finish = "";
    }

    val = $("#job" + id).find(".zindex0").find("select").val();
    jobs[id].settings.density = $("#job" + id).find(".zindex0").find("select").val();
    if ( val == '---' || val == null ) {
      jobs[id].settings.density = "";
    }

    requestQuote(id);
    }
  } else {
    var index = $("#job" + id).find(".zindex3").find("option").index($("#job" + id).find(".zindex3").find("[value='" + jobs[id].settings.job_type + "']"));
    if (index > 0) {
      $("#job" + id).find(".zindex3").find("select").prev('ul').find('li').eq(index).find('a').click();
    }
  }
}

var onChangeJobMaterial = function(id) {
  var val = $("#job" + id).find(".zindex2").find("select").val();
  if ( val == '---' || val == null ) {
    var index = $("#job" + id).find(".zindex2").find("option").index($("#job" + id).find(".zindex2").find("[value='" + jobs[id].settings.material + "']"));
    if (index > 0) {
      $("#job" + id).find(".zindex2").find("select").prev('ul').find('li').eq(index).find('a').click();
    }
    return;
  }
  if ( val == jobs[id].settings.material ) { return; }

  logger.debug("[" + id + "] Job material changed to '" + val + "'");
  cancelQuote(id);
  jobs[id].settings.material = val;
  requestQuote(id);
}

var onChangeJobFinish = function(id) {
  var val = $("#job" + id).find(".zindex1").find("select").val();
  if ( val == '---' || val == null ) {
    var index = $("#job" + id).find(".zindex1").find("option").index($("#job" + id).find(".zindex1").find("[value='" + jobs[id].settings.finish + "']"));
    if (index > 0) {
      $("#job" + id).find(".zindex1").find("select").prev('ul').find('li').eq(index).find('a').click();
    }
    return;
  }
  if ( val == jobs[id].settings.finish ) { return; }

  logger.debug("[" + id + "] Job finish changed to '" + val + "'");
  cancelQuote(id);
  jobs[id].settings.finish = val;
  requestQuote(id);
}

var onChangeJobDensity = function(id) {
  var val = $("#job" + id).find(".zindex0").find("select").val();
  if ( val == '---' || val == null ) {
    var index = $("#job" + id).find(".zindex0").find("option").index($("#job" + id).find(".zindex0").find("[value='" + jobs[id].settings.density + "']"));
    if (index > 0) {
      $("#job" + id).find(".zindex0").find("select").prev('ul').find('li').eq(index).find('a').click();
    }
    return;
  }
  if ( val == jobs[id].settings.density ) { return; }

  logger.debug("[" + id + "] Job density changed to '" + val + "'");
  cancelQuote(id);
  jobs[id].settings.density = val;
  requestQuote(id);
}

var onChangeJobQuantity = function(id) {
  var val = parseInt($("#job" + id).find("input").val());
  if ( jobs[id].settings.quantity == val ) { return; }
  if ( val > 0 ) {
    logger.debug("[" + id + "] Job quantity changed to '" + val + "'");
    jobs[id].settings.quantity = val;

    logger.debug("[" + id + "] Updating quote...");
    if ( jobs[id].cache.quote ) {
      $("#job" + id).find(".price").html("<i class='fa fa-inr' aria-hidden='true'></i>&nbsp;" + Math.round(jobs[id].cache.quote * jobs[id].settings.quantity * 100)/100)
    }
    // TODO update on server
  } else {
    $("#job" + id).find("input").val(jobs[id].settings.quantity);
  }
}

var onChangeJobUnits = function(id, val) {
  $("#job" + id).find("a.units_js").removeClass("active");
  $("#job" + id).find("a.units_js:contains('" + val + "')").addClass("active");

  if ( jobs[id].settings.units == val ) {
    return;
  }
  logger.debug("[" + id + "] Job units changed to '" + val + "'");

  cancelQuote(id);
  jobs[id].settings.units = val;
  requestQuote(id);
}

var onChangeJobPrice = function(id) {
  var job = jobs[id];
  if ( job.cache.quote ) {
      $("#job" + id).find(".price").html("<i class='fa fa-inr' aria-hidden='true'></i>&nbsp;" + Math.round(job.cache.quote * job.settings.quantity * 100)/100)

      $("#job" + id).find("button").removeClass("active");
      $("#job" + id).find("button").removeClass("getquote");
      $("#job" + id).find("button").html("Add to Cart");
      $("#job" + id).find("button").addClass("active");
      return;
  }
  if ( job.analysis_progress == 100 && job.analysis_tag == "Analysis...") {
    if ( job.cache.quote ) {
      $("#job" + id).find(".price").html("<i class='fa fa-inr' aria-hidden='true'></i>&nbsp;" + Math.round(job.cache.quote * job.settings.quantity * 100)/100)

      $("#job" + id).find("button").removeClass("active");
      $("#job" + id).find("button").removeClass("getquote");
      $("#job" + id).find("button").html("Add to Cart");

      if ( job.tracking.state != "Uploaded" && job.tracking.state != "Created" ) {
        $("#job" + id).find("button").addClass("active");
      }
    } else {
      $("#job" + id).find(".price").html("");
      $("#job" + id).find("button").html("Get Quote");
      $("#job" + id).find("button").addClass("getquote");
    }
/*
  } else {
    $("#job" + id).find(".price").html("");
    $("#job" + id).find("button").html("Get Quote");
    $("#job" + id).find("button").removeClass("active");
    $("#job" + id).find("button").removeClass("getquote");
*/
  }
}

var onJobButtonClick = function(id) {
  if ( $("#job" + id).find("button").hasClass("getquote") ) {
    cancelQuote(id);
    requestQuote(id);
    $("#job" + id).find("button").removeClass("getquote");    
    $("#job" + id).find("button").html("Quote Requested");
    $.post("/jobs/" + id + "/quote");
  } else if ( $("#job" + id).find("button").hasClass("active") ) {
    onAddToCart(id);
  }
}

var createJob = function(job) {
  var jobDiv = ""
  jobDiv += "<div id='job" + job.id + "' class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>\n";
  jobDiv += "  <div class='upload-product block cartitems marginbottom30'>\n";
  jobDiv += "    <figure class='block text-center whitebg'>\n";
  jobDiv += "      <img src='" + job.thumbnail + "' class='img-responsive displayinline' alt='' style='max-height: 121px; max-width: 310px;'>\n";
  jobDiv += "      <figcaption class='block flex justifycontent flexend' style='height: 2.1em;'>\n";
  jobDiv += "        <h3 class='pull-left' style='max-width: 60%; overflow: hidden; text-align: left; max-height: 2.1em; text-overflow: ellipsis; word-wrap: break-word;'>" + job.name + "</h3>\n";
  jobDiv += "        <h6 class='pull-right cursorpointer' onclick='viewJob(\"" + job.id + "\")'>Click to view in 3D</h6>\n";
  jobDiv += "      </figcaption>\n";
  jobDiv += "      <div class='closeuploadedproduct' onclick='deleteJob(\"" + job.id + "\")'>\n";
  jobDiv += "        <i class='fa fa-times' aria-hidden='true'></i>\n";
  jobDiv += "      </div>\n";
  jobDiv += "    </figure>\n";
  jobDiv += "    <div class='uploaddetails block sectionpadding20'>\n";
  jobDiv += "      <div class='row'>\n";
  jobDiv += "        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12' style='margin-bottom: 1.5em;'>\n";
  jobDiv += "          <div class='typematerialcolor block'>\n";
  jobDiv += "            <div class='form-group block jqtransform zindex3'>\n";
  jobDiv += "              <select class='customselect' onchange='onChangeJobType(\"" + job.id + "\")'>\n";
  jobDiv += "                <option value='---' disabled selected>Job Type</option>\n";
  jobDiv += "                <option value='CNC'>CNC</option>\n";
  jobDiv += "                <option value='FDM'>3D Print - FDM</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block jqtransform zindex2'>\n";
  jobDiv += "              <select class='customselect' onchange='onChangeJobMaterial(\"" + job.id + "\")'>\n";
  jobDiv += "                <option value='---' disabled selected>Material</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block nomargin jqtransform zindex1'>\n";
  jobDiv += "              <select class='customselect' onchange='onChangeJobFinish(\"" + job.id + "\")'>\n";
  jobDiv += "                <option value='---' disabled selected>Finish</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "          </div>\n";
  jobDiv += "        </div>\n";
  jobDiv += "        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>\n";
  jobDiv += "          <div class='typematerialcolor block'>\n";
  jobDiv += "            <div class='form-group block nomargin jqtransform zindex0' style='margin-bottom: 18px'>\n";
  jobDiv += "              <select class='customselect' onchange='onChangeJobDensity(\"" + job.id + "\")'>\n";
  jobDiv += "                <option value='---' disabled selected>Density</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "          </div>\n";
  jobDiv += "          <div class='unitqualityquantity block'>\n";
  jobDiv += "            <div class='form-group block displayflex'>\n";
  jobDiv += "              <div class='flex1'>\n";
  jobDiv += "                Units :\n";
  jobDiv += "              </div>\n";
  jobDiv += "              <div class='flex2'>\n";
  jobDiv += "                <ul class='flex justifycontent'>\n";
  jobDiv += "                  <li><a class='units_js unit cursorpointer' onclick='onChangeJobUnits(\"" + job.id + "\", \"mm\")'>mm</a></li>\n";
  jobDiv += "                  <li><a class='units_js unit cursorpointer' onclick='onChangeJobUnits(\"" + job.id + "\", \"cm\")'>cm</a></li>\n";
  jobDiv += "                  <li><a class='units_js unit cursorpointer' onclick='onChangeJobUnits(\"" + job.id + "\", \"in\")'>in</a></li>\n";
  jobDiv += "                </ul>\n";
  jobDiv += "              </div>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block flex'>\n";
  jobDiv += "              <div class='flex1'>\n";
  jobDiv += "                Quantity:&nbsp;&nbsp;&nbsp;\n";
  jobDiv += "              </div>\n";
  jobDiv += "              <div class='flex2'>\n";
  jobDiv += "                <input type='text' class='col-lg-6 col-md-6 col-sm-6 col-xs-6 quantityinput' onkeypress='return isNumberKey(event)' onchange='onChangeJobQuantity(\"" + job.id + "\")'>\n";
  jobDiv += "                <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 flex updowncolumn' style='padding-left: 0px; padding-right: 20px;'>\n";
  jobDiv += "                  <a class='increasequantity_js cursorpointer'><i class='fa fa-caret-up' aria-hidden='true'></i></a>\n";
  jobDiv += "                  <a class='decreasequantity_js cursorpointer'><i class='fa fa-caret-down' aria-hidden='true'></i></a>\n";
  jobDiv += "                </div>\n";
  jobDiv += "              </div>\n";
  jobDiv += "            </div>\n";
  jobDiv += "          </div>\n";
  jobDiv += "        </div>\n";
  jobDiv += "      </div>\n";
//  jobDiv += "      <div class='attachadditionalfiles block text-left profiledetails'>\n";
//  jobDiv += "        <span class='cursorpointer'><i class='fa fa-paperclip' aria-hidden='true'></i> <a class='editaddress' data-toggle='tooltip' data-placement='auto' title='Attach part specifuc files like tolerance, threadings, finish details (PDF Only)'> Attach Additional Files</a></span>\n";
//  jobDiv += "      </div>\n";
  jobDiv += "    </div>\n";
  jobDiv += "    <div class='anylysisofdesignstatus block sectionpadding10'>\n";
  jobDiv += "      <div class='flex justifycontent'>\n";
  jobDiv += "        <span class='displayinlineblock analysing'></span>\n";
  jobDiv += "        <h6>Uploading Design</h6><a data-toggle='tooltip' data-placement='auto' title='' data-original-title='This will indicate whether the model has issues or not!'> <i class='fa fa-info-circle' aria-hidden='true'></i></a>\n";
  jobDiv += "      </div>\n";
  jobDiv += "      <p>Please wait while we upload your design</p>\n";
  jobDiv += "    </div>\n";
  jobDiv += "    <div class='cartandpricebtn block flex'>\n";
  jobDiv += "      <div class='flex1 displayflex'>\n";
  if (job.cache.quote) {
    jobDiv += "        <div class='price'><i class='fa fa-inr' aria-hidden='true'></i>&nbsp;" + job.cache.quote + "</div>\n";
  } else {
    jobDiv += "        <div class='price'></div>\n";
  }
  jobDiv += "      </div>\n";
  jobDiv += "      <div class='flex1'>\n";
  if (job.cache.quote) {
    jobDiv += "        <button class='button block active' onclick='onJobButtonClick(\"" + job.id + "\")'>Add to Cart</button>\n";
  } else {
    jobDiv += "        <button class='button block getquote' onclick='onJobButtonClick(\"" + job.id + "\")'>Get Quote</button>\n";
  }
  jobDiv += "      </div>\n";
  jobDiv += "    </div>\n";
  jobDiv += "  </div>\n";
  jobDiv += "</div>\n";
  $('.uploadwrapper > div.row').prepend(jobDiv);
  $(".jqtransform").jqTransform();

  var index = $("#job" + job.id).find(".zindex3").find("option").index($("#job" + job.id).find(".zindex3").find("[value='" + job.settings.job_type + "']"));
  if (index > 0) {
    $("#job" + job.id).find(".zindex3").find("select").prev('ul').find('li').eq(index).find('a').click();
  }

  var index = $("#job" + job.id).find(".zindex2").find("option").index($("#job" + job.id).find(".zindex2").find("[value='" + job.settings.material + "']"));
  if (index > 0) {
    $("#job" + job.id).find(".zindex2").find("select").prev('ul').find('li').eq(index).find('a').click();
  }

  var index = $("#job" + job.id).find(".zindex1").find("option").index($("#job" + job.id).find(".zindex1").find("[value='" + job.settings.finish + "']"));
  if (index > 0) {
    $("#job" + job.id).find(".zindex1").find("select").prev('ul').find('li').eq(index).find('a').click();
  }

  var index = $("#job" + job.id).find(".zindex0").find("option").index($("#job" + job.id).find(".zindex0").find("[value='" + job.settings.density + "']"));
  if (index > 0) {
    $("#job" + job.id).find(".zindex0").find("select").prev('ul').find('li').eq(index).find('a').click();
  }

  $("#job" + job.id).find("input").val(job.settings.quantity).trigger("change");

  $("#job" + job.id).find("a.units_js:contains('" + job.settings.units + "')").click();

  onChangeJobAnalysis(job.id);
}

var onChangeJobAnalysis = function(id) {
  var job = $("#job" + id);
  var result = {
    status : 100,
    msg    : ""
  }
  if ( jobs[id].tracking.state != "Created" ) {
    result = jobs[id].tracking.analysis_result;
  }
  if ( !result ) {
    result = {};
    result.status = 202;
    result.msg = "";
  }

  if (result.status == 100) {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").html('');
    job.find(".anylysisofdesignstatus > div > h6").html('Uploading Design');
    job.find(".anylysisofdesignstatus > p").html("Please wait while we take a look at your design");
  } else if (result.status == 200) {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").html('<i class="fa fa-check" aria-hidden="true"></i>');
    job.find(".anylysisofdesignstatus > div > h6").html('Analysing Done');
    job.find(".anylysisofdesignstatus > p").html("The model is ready");
  } else if (result.status == 400) {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").html("<i class='fa fa-times' aria-hidden='true'></i>");
    job.find(".anylysisofdesignstatus > div > h6").html('Analysing Failed');
    job.find(".anylysisofdesignstatus > p").html('The Model has <a class="triggerthreedpopup_js">issues</a>. <a style="margin-left: 15px;">Contact Support</a>');
  } else {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").html('');
    job.find(".anylysisofdesignstatus > div > h6").html('Analysing Design');
    job.find(".anylysisofdesignstatus > p").html("Please wait while we take a look at your design");
  }
/*
  if ( ! $("#job" + id).find("button").hasClass("active") ) {
    $("#job" + id).find("button").removeClass("active")

    var job_type = $("#job" + id).find(".zindex3").find("select").val();
    var job_material = $("#job" + id).find(".zindex2").find("select").val();
    var job_finish = $("#job" + id).find(".zindex1").find("select").val();
    var job_density = $("#job" + id).find(".zindex0").find("select").val();

    $("#job" + id).find("button").removeClass("getquote");

  if ( job_type != null && job_type != '---' && job_material != null && job_material != '---' ) {
  
  }

  }
*/
// TODOOOO
}

var jobs = [];
var workers = [];
var configuration = {
  MAX_FILE_SIZE         : 100,
  FILE_TYPE_TO_DEFAULT_JOB_TYPE : {
    'STL'               : 'FDM',
    'OBJ'               : 'FDM',
    'STP'               : 'CNC',
    'STEP'              : 'CNC'
  },
  JOB_TYPES             : ['FDM','CNC','SLS'],
  FDM                   : {
    DEFAULT_MATERIAL    : 'White PLA',
    MATERIALS           : ['WHITE PLA', 'BLACK PLA', 'RED PLA', 'ORANGE PLA', 'YELLOW PLA', 'PEAK GREEN PLA', 'LIGHT GREY PLA', 'LIGHT BLUE PLA', 'WHITE ABS', 'BLACK ABS', 'COPPER FILL', 'WOOD FILL'],
    DEFAULT_FINISH      : 'NORMAL',
    FINISH              : ['COARSE', 'NORMAL', 'FINE'],
    DEFAULT_DENSITY     : 'MEDIUM',
    DENSITY             : ['LOW','MEDIUM','HIGH']
  },
  CNC                   : {
    MATERIALS           : ['ALUMINIUM', 'MS', 'SS 302', 'SS 304', 'HSCR', 'NYLON', 'BRASS', 'COPPER', 'WOOD'],
    DEFAULT_FINISH      : 'AS MACHINED',
    FINISH              : ['AS MACHINED'],
    DENSITY             : []
  },
  SLS                   : {
    MATERIALS           : ['DEFAULT'],
    FINISH              : [],
    DENSITY             : []
  },
  JOB_TEMPLATE          : {
    id                  : undefined,
    name                : undefined,
    settings            : {
      job_type          : undefined,
      material          : undefined,
      finish            : undefined,
      density           : undefined,
      quantity          : 1,
      units             : 'mm'
    },
    errors              : {
      code              : 200,
      fatal             : undefined,
    },
    cache               : {
      bounding_box      : {
        x               : undefined,
        y               : undefined,
        z               : undefined
      },
      part_volume       : undefined,
      part_area         : undefined,
      support_volume    : {
        x_plus          : undefined,
        x_minus         : undefined,
        y_plus          : undefined,
        y_minus         : undefined,
        z_plus          : undefined,
        z_minus         : undefined
      },
      support_z_area    : {
        x_plus          : undefined,
        x_minus         : undefined,
        y_plus          : undefined,
        y_minus         : undefined,
        z_plus          : undefined,
        z_minus         : undefined
      },
      support_xy_area   : {
        x_plus          : undefined,
        x_minus         : undefined,
        y_plus          : undefined,
        y_minus         : undefined,
        z_plus          : undefined,
        z_minus         : undefined
      },
      exp_print_time    : undefined,
      act_print_time    : undefined,
      quote             : undefined
    },
    tracking            : {
      state             : "Created",
      progress          : undefined,
      analysis_result   : {
        status          : 100,
        msg             : ""
      },
      uploaded_at       : undefined,
      analysed_at       : undefined,
      placed_at         : undefined,
      confirmed_at      : undefined,
      printing_at       : undefined,
      ready_at          : undefined,
      shipped_at        : undefined,
      delivered_at      : undefined
    },
    fractory            : undefined,
    csr                 : undefined,
    analysis_progress   : 0,
    analysis_tag        : "Validating file...",
    upload_progress     : -1
  }
}

var onFilesDrop = function(e) {
  e.stopPropagation()
  e.preventDefault()
  $(".draganddropwraper").removeClass("draganddropwraperhover");

  var files = [];
  if ( e.originalEvent.dataTransfer ) {
    files = e.originalEvent.dataTransfer.files;
  } else if ( e.originalEvent.target ) {
    files = e.originalEvent.target.files;
  }
  if ( files.length > 0 ) {
    for (var i = 0; i < files.length; i++ ) {
      if ( files[i].size > (configuration.MAX_FILE_SIZE * 1048576) ) {
        alert("File: '" + files[i].name + "' is too big! Maximum allowed size is " + configuration.MAX_FILE_SIZE + "MB");
        continue;
      }

      var job               = JSON.parse(JSON.stringify(configuration.JOB_TEMPLATE));
      job.id                = window.user.id + "-" +  ((new Date()).getTime().toString() + Math.random().toString().substring(2));
      job.thumbnail         = "/default-thumbnail.png"
      job.name              = files[i].name;
      job.settings.job_type = configuration.FILE_TYPE_TO_DEFAULT_JOB_TYPE[job.name.split('.').pop().toUpperCase()];

      if (!job.settings.job_type) {
        alert("File: '" + files[i].name + "' is not supported!");
        continue;
      }

      job.settings.material = configuration[job.settings.job_type]['DEFAULT_MATERIAL'];
      job.settings.finish   = configuration[job.settings.job_type]['DEFAULT_FINISH'];
      job.settings.density  = configuration[job.settings.job_type]['DEFAULT_DENSITY'];

      logger.debug("[" + job.id + "] Creating a new job:\n" + JSON.stringify(job, null, 3));
      jobs[job.id] = job;
      createJob(job);

      logger.debug("[" + job.id + "] Creating a new worker...");
      var worker = new Worker("/libraries/mesh-analysis/js/mesh-analysis-worker.js");

      worker.onmessage = function(event) {
        try {
          if (event.data.action != "geometry") {
            logger.debug("[" + job.id + "] Received message from worker " + JSON.stringify(event.data, null, 3));
          }
          switch(event.data.action) {
            case 'status':
              jobs[job.id].analysis_progress = event.data.analysis_progress;
              jobs[job.id].upload_progress = event.data.upload_progress;
              jobs[job.id].analysis_tag = event.data.analysis_tag;
              jobs[job.id].errors = event.data.errors;
              refresh_job(job.id);
              break;
            case 'cache':
              jobs[job.id].cache = event.data;
              refresh_job(job.id);
              break;
            case 'geometry':
              var faces = [];
              var vertices = [];
              for ( var j = 0; j < event.data.faces.length; j++ ) {
                faces.push(new THREE.Face3(event.data.faces[j].a,event.data.faces[j].b,event.data.faces[j].c))
              }
              for ( var k = 0; k < event.data.vertices.length; k++ ) {
                vertices.push(new THREE.Vector3(event.data.vertices[k].x,event.data.vertices[k].y,event.data.vertices[k].z));
              }

              var geometry = new THREE.Geometry;
              geometry.vertices = vertices;
              geometry.faces = faces;
              geometry.computeBoundingBox();
              geometry.computeFaceNormals();
              THREE.GeometryUtils.center(geometry);

              update_geometry(job.id, geometry);
              break;
            default:
          }
        } catch(err) {
        }
      };

      workers[job.id] = worker;
      worker.postMessage({'action': 'init', 'job': job, 'file': files[i]});
    }
  }
}

var update_geometry = function(jid, geometry) {
              if ( mesh_lock ) {
                return setTimeout(function() { update_geometry(jid, geometry); }, 100);
              }
              mesh_lock = true;
              if (mesh!=null) {scene.remove(mesh);mesh=null};
              mesh = new THREE.Mesh(geometry, material);
              directionalLight.position.z = geometry.boundingBox.max.z + geometry.boundingBox.max.x;
              directionalLight.position.x = geometry.boundingBox.max.z + geometry.boundingBox.max.x;
              directionalLight.position.y = geometry.boundingBox.max.y * 2;
              pointLight.position.z = 0;
              pointLight.position.x = 0;
              pointLight.position.y = geometry.boundingBox.max.y * 2;

              camera.position.set(0,0,Math.max(geometry.boundingBox.max.x*3,geometry.boundingBox.max.y*3,geometry.boundingBox.max.z*3));
              controls.reset();

              scene.add(mesh);
              setTimeout(function() {
                $("#job" + jid).find("img").attr("src", renderer.domElement.toDataURL("image/png").replace("image/png", "image/octet-stream"))

                var job_form = new FormData();
                job_form.append("data", $("#job" + jid).find("img").attr("src"));

                $.ajax({
                  type        : "POST",
                  method      : "POST",
                  url         : "/jobs/" + jid + "/thumbnail",
                  data        : job_form,
                  cache       : false,
                  contentType : false,
                  processData : false,
                  success: function (data) {
                  },
                  error: function (e) {
                  },
                  async: true,
                  timeout: 30*1000
                });

                setTimeout(function() {
                  mesh_lock = false;
                }, 100 );

              }, 100);
}

var load_job = function(job) {
    logger.debug("[" + job.id + "] Creating a new job:\n" + JSON.stringify(job, null, 3));
    jobs[job.id] = job;
    createJob(job);
    job.upload_progress = 100;
    job.errors = job.error;
    logger.debug("[" + job.id + "] Creating a new worker...");
    var worker = new Worker("/libraries/mesh-analysis/js/mesh-analysis-worker.js");

    worker.onmessage = function(event) {
      try {
        logger.debug("[" + job.id + "] Received message from worker " + JSON.stringify(event.data, null, 3));
        switch(event.data.action) {
          case 'status':
            jobs[job.id].analysis_progress = event.data.analysis_progress;
            jobs[job.id].upload_progress = 100;
            jobs[job.id].analysis_tag = event.data.analysis_tag;
            jobs[job.id].errors = event.data.errors;
            refresh_job(job.id);
            break;
          case 'cache':
            jobs[job.id].cache = event.data;
            refresh_job(job.id);
            break;
          case 'geometry':
            var faces = [];
            var vertices = [];
            for ( var i = 0; i < event.data.faces.length; i++ ) {
              faces.push(new THREE.Face3(event.data.faces[i].a,event.data.faces[i].b,event.data.faces[i].c))
            }
            for ( var i = 0; i < event.data.vertices.length; i++ ) {
              vertices.push(new THREE.Vector3(event.data.vertices[i].x,event.data.vertices[i].y,event.data.vertices[i].z));
            }

            var geometry = new THREE.Geometry;
            geometry.vertices = vertices;
            geometry.faces = faces;
            geometry.computeBoundingBox();
            geometry.computeFaceNormals();
            THREE.GeometryUtils.center(geometry);

            update_geometry(job.id, geometry);
          default:
        }
      } catch(err) {
      }
    };
    workers[job.id] = worker;

    var xhr = new XMLHttpRequest();
    xhr.open('GET', "/jobs/" + job.id + "/model", true);
    xhr.responseType = 'arraybuffer';
    xhr.onload = function(e) {
      if (this.status == 200) {
        var data = this.response;
        worker.postMessage({'action': 'init', 'job': job, data: data});
      }
    };
    xhr.send();
}

var refresh_job = function(id) {
  var job = jobs[id];
  if ( job.tracking.state == "Created" && job.upload_progress == 100 ) {
    job.tracking.state = "Uploaded";
    job.tracking.uploaded_at = Math.floor( (new Date).getTime() / 1000 );
    job.tracking.analysis_result = {
      status: 202,
      msg   : ""
    };
    onChangeJobAnalysis(job.id);
  } else if ( job.tracking.state == "Uploaded" ) {
    job.tracking.state = "Analysed";
    job.tracking.analysed_at = Math.floor( (new Date).getTime() / 1000 );
    job.tracking.analysis_result = {
      status: 200,
      msg   : ""
    };
    onChangeJobAnalysis(job.id);
    var form = new FormData();
    form.append("status", job.tracking.analysis_result.status);
    form.append("msg", job.tracking.analysis_result.msg);
    $.ajax({
      type        : "POST",
      method      : "POST",
      url         : "/jobs/" + job.id + "/analysed",
      data        : form,
      cache       : false,
      contentType : false,
      processData : false,
      success: function (data) {
        logger.debug("Job analysis complete pushed!\n");
      },
      error: function (e) {
        logger.warn("Job analysis complete push failed!\n" + JSON.stringify(e, null, 3));
      },
      async: true,
      timeout: 30*1000
    });
  }
  onChangeJobPrice(id);
}

$(document.body).on("dragleave", function(e) { $(".draganddropwraper").removeClass("draganddropwraperhover");});
$(document.body).on("dragover", function(e) { e.stopPropagation(); e.preventDefault(); $(".draganddropwraper").addClass("draganddropwraperhover");});
$(document.body).on("drop", onFilesDrop);

$("#fileuploadinput").on('change', onFilesDrop)


function do_renderer_resize() {
  h = 600
  w = 600
  renderer.setSize(w, h);
}

var material = new THREE.MeshLambertMaterial({'color':0xD3D3D3, 'overdraw': 1, 'flatShading': true, 'vertexColors': THREE.FaceColors, 'side': THREE.DoubleSide});

var w = 600
var h = 600
var scene = new THREE.Scene();
renderer = new THREE.WebGLRenderer({preserveDrawingBuffer:true, alpha:true})
var mesh=null;
var mesh_lock=false;
var ambientLight     = null;
var directionalLight = null;
var pointLight       = null;
var camera = new THREE.PerspectiveCamera(45, w/h, 0.1, 10000);
var bg_color=0xffffff;

do_renderer_resize();

                        renderer.setClearColor( bg_color, 1);
                        $('#survey-content').html(renderer.domElement);
                        camera.position.set(0,0,100);
                        scene.add(camera);

                        ambientLight = new THREE.AmbientLight(0x202020);
                        camera.add(ambientLight);
                        directionalLight = new THREE.DirectionalLight(0xffffff, 0.75);
                        directionalLight.position.x = 1;
                        directionalLight.position.y = 1;
                        directionalLight.position.z = 2;
                        directionalLight.position.normalize();
                        camera.add(directionalLight);

                        pointLight = new THREE.PointLight(0xffffff, 0.3);
                        pointLight.position.x = 0;
                        pointLight.position.y = -25;
                        pointLight.position.z = 10;
                        camera.add(pointLight);

                        var controls = new THREE.OrbitControls(camera, renderer.domElement);
controls.autoRotate=true
function render_loop() {
  requestAnimationFrame(render_loop);
  renderer.render(scene, camera);
  controls.update();
}
render_loop();

    {% for job in jobs %}
      console.log({{ job }});
      load_job({{ job }});
    {% endfor %}


  </script>
{% endblock %}
