{% extends "base.html" %}

{% block head %}
  <title>Fractory</title>
{% endblock %}

{% block content %}
            <section class="block sectionpadding50 cartwrapper lightgraybg">
                <div class="container">
                    <div class="draganddropwraper block marginbottom40">

                        <h2 class="displayinlineblock">Drag and drop files or Click to <span class="extraboldfont">upload</span></h2>

                        <p>
                            <strong> Supported file formats:</strong><br/> 3D Printing: STL, OBJ, VF<br/> CNC: STEP<br/> Maximum file size: 60MB
                        </p>
                    </div>


                    <div class="cartitemswrapper block hidden">
                    </div>
                    <div class="uploadwrapper block marginbottom40" style="min-height: 495px">
                        <div class="row">
                        </div>
                    </div>
                </div>
            </section>
            <div class="cartfloatingbutton whitecolor">
                        <div class="cartcount whitebg displayflex"><span class="redcolor">2</span></div>
                        <i class="fa fa-shopping-cart displayinlineblock" aria-hidden="true" style="margin: auto;font-size: 2rem;padding: 5px 0;"></i>
                        <h6 style="text-align: center; margin: 0px 10px 35px 10px;"><b>CART</b></h6>
                    </div>
            <div class="threedviewpopup block displayflex transition">
                <div class="poupcontent whitebg displayflex transition">
                    <div class="closethreedviewpopup cursorpointer closethreedviewpopup_js">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <div class="threedimage">
                    <img src="/media/threedview.png" class="img-responsive" alt=""/>
                </div>
                <div class="details"><span class="boldfont">Max part volume :</span> 250*250*250mm</div>
                </div>
            </div>
{% endblock %}


{% block styles %}
<div id="survey" class="modal fade">
  <div class="modal-dialog">
    <div id="survey-content" class="modal-content">
    </div>
  </div>
</div>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="libraries/textrotator/css/jquery.animatedheadline.css" />
  <link rel="stylesheet" href="libraries/scroll/css/jquery.classyscroll.css" />
  <link rel="stylesheet" href="libraries/jq/css/jqtransform.css" />
  <link rel="stylesheet" href="css/upload.css" />
{% endblock %}

{% block scripts %}
  <script src="libraries/textrotator/js/jquery.animatedheadline.min.js"></script>
  <script src="libraries/scroll/js/jquery.mousewheel.js"></script>
  <script src="libraries/scroll/js/jquery.classyscroll.js"></script>
  <script src="libraries/jq/js/jquery.jqtransform.js"></script>
  <script src="libraries/singularity-logger/js/singularity-logger.js"></script>
  <script>
    logger.label = "UPLOAD";
    logger.level = logger.LEVELS.debug;
  </script>
  <script src="js/upload.js"></script>
  <script src="libraries/three/js/three.min.js"></script>
  <script src="libraries/three/js/OrbitControls.js"></script>
  <script src="libraries/three/js/webgl_detector.js"></script>

  <script>
    jQuery(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
    });

var viewJob = function(id) {
  console.log(this);
}

var deleteJob = function(id) {
}

var requestQuote = function() {
}

var cancelQuote = function() {
}

var onChangeJobType = function() {
}

var onChangeJobQuantity = function() {
}

var onChangeJobMaterial = function() {
}

var onChangeJobFinish = function() {
}

var onChangeJobDensity = function() {
}

var onChangeJobPrice = function(id) {
  var job = jobs[id];
  if ( job.analysis_progress == 100 && job.analysis_tag == "Analysis...") {
    if ( job.cache.quote ) {
      $("#job" + id).find(".price").html("<i class='fa fa-inr' aria-hidden='true'></i>&nbsp;" + job.cache.quote)

      $("#job" + id).find("button").removeClass("active");
      $("#job" + id).find("button").removeClass("getquote");
      $("#job" + id).find("button").html("Add to Cart");

      if ( job.tracking.state == "Analysed" ) {
        $("#job" + id).find("button").addClass("active");
      }
    } else {
      $("#job" + id).find("button").html("Get Quote");
      $("#job" + id).find("button").addClass("getquote");
    }
  } else {
    $("#job" + id).find("button").html("Get Quote");
    $("#job" + id).find("button").removeClass("active");
    $("#job" + id).find("button").removeClass("getquote");
  }
}

var onChangeJobUploadProgress = function() {
}

var onChangeJobAnalysisProgress = function() {
}

var createJob = function(job) {
  var jobDiv = ""
  jobDiv += "<div id='job" + job.id + "' class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>\n";
  jobDiv += "  <div class='upload-product block cartitems marginbottom30'>\n";
  jobDiv += "    <figure class='block text-center whitebg'>\n";
  jobDiv += "      <img src='/jobs/" + job.id + "/thumbnail' class='img-responsive displayinline' alt='' style='max-height: 121px; max-width: 310px;'>\n";
  jobDiv += "      <figcaption class='block flex justifycontent flexend'>\n";
  jobDiv += "        <h3 class='pull-left'>" + job.name + "</h3>\n";
  jobDiv += "        <h6 class='pull-right cursorpointer' onclick='viewJob(\"" + job.id + "\")'>Click to view in 3D</h6>\n";
  jobDiv += "      </figcaption>\n";
  jobDiv += "      <div class='closeuploadedproduct' onclick='deleteJob(\"" + job.id + "\")'>\n";
  jobDiv += "        <i class='fa fa-times' aria-hidden='true'></i>\n";
  jobDiv += "      </div>\n";
  jobDiv += "    </figure>\n";
  jobDiv += "    <div class='uploaddetails block sectionpadding20'>\n";
  jobDiv += "      <div class='row'>\n";
  jobDiv += "        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>\n";
  jobDiv += "          <div class='typematerialcolor block'>\n";
  jobDiv += "            <div class='form-group block jqtransform zindex3'>\n";
  jobDiv += "              <select class='customselect' onchange='onChangeJobType(\"" + job.id + "\")'>\n";
  jobDiv += "                <option>Job Type</option>\n";
  jobDiv += "                <option>CNC</option>\n";
  jobDiv += "                <option>3D Print - FDM</option>\n";
  jobDiv += "                <option>3D Print - SLA</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block jqtransform zindex2'>\n";
  jobDiv += "              <select class='customselect' onchange='onChangeJobMaterial(\"" + job.id + "\")'>\n";
  jobDiv += "                <option>Material</option>\n";
  jobDiv += "                <option>Material 1</option>\n";
  jobDiv += "                <option>Material 2</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block nomargin jqtransform zinex1'>\n";
  jobDiv += "              <select class='customselect' onchange='OnChangeJobFinish(\"" + job.id + "\")'>\n";
  jobDiv += "                <option>Draft</option>\n";
  jobDiv += "                <option>Normal</option>\n";
  jobDiv += "                <option>High</option>\n";
  jobDiv += "              </select>\n";
  jobDiv += "            </div>\n";
  jobDiv += "          </div>\n";
  jobDiv += "        </div>\n";
  jobDiv += "        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>\n";
  jobDiv += "          <div class='unitqualityquantity block'>\n";
  jobDiv += "            <div class='form-group block displayflex'>\n";
  jobDiv += "              <div class='flex1'>\n";
  jobDiv += "                Units :\n";
  jobDiv += "              </div>\n";
  jobDiv += "              <div class='flex2'>\n";
  jobDiv += "                <ul class='flex justifycontent'>\n";
  jobDiv += "                  <li><a class='units_js unit cursorpointer'>mm</a></li>\n";
  jobDiv += "                  <li><a class='units_js unit cursorpointer'>cm</a></li>\n";
  jobDiv += "                  <li><a class='units_js unit cursorpointer'>in</a></li>\n";
  jobDiv += "                </ul>\n";
  jobDiv += "              </div>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block displayflex'>\n";
  jobDiv += "              <div class='flex1'>\n";
  jobDiv += "                Density:\n";
  jobDiv += "              </div>\n";
  jobDiv += "              <div class='flex2'>\n";
  jobDiv += "                <ul class='flex justifycontent'>\n";
  jobDiv += "                  <li><a class='quality_js quality cursorpointer'>1</a></li>\n";
  jobDiv += "                  <li><a class='quality_js quality cursorpointer'>2</a></li>\n";
  jobDiv += "                  <li><a class='quality_js quality cursorpointer'>3</a></li>\n";
  jobDiv += "                </ul>\n";
  jobDiv += "              </div>\n";
  jobDiv += "            </div>\n";
  jobDiv += "            <div class='form-group block flex'>\n";
  jobDiv += "              <div class='flex1'>\n";
  jobDiv += "                Quantity:\n";
  jobDiv += "              </div>\n";
  jobDiv += "              <div class='flex2'>\n";
  jobDiv += "                <input type='text' class='col-lg-6 col-md-6 col-sm-6 col-xs-6 quantityinput' onkeypress='return isNumberKey(event)'>\n";
  jobDiv += "                <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 flex updowncolumn'>\n";
  jobDiv += "                  <a class='increasequantity_js cursorpointer'><i class='fa fa-caret-up' aria-hidden='true'></i></a>\n";
  jobDiv += "                  <a class='decreasequantity_js cursorpointer'><i class='fa fa-caret-down' aria-hidden='true'></i></a>\n";
  jobDiv += "                </div>\n";
  jobDiv += "              </div>\n";
  jobDiv += "            </div>\n";
  jobDiv += "          </div>\n";
  jobDiv += "        </div>\n";
  jobDiv += "      </div>\n";
  jobDiv += "      <div class='attachadditionalfiles block text-left profiledetails'>\n";
  jobDiv += "        <span class='cursorpointer'><i class='fa fa-paperclip' aria-hidden='true'></i> <a class='editaddress' data-toggle='tooltip' data-placement='auto' title='Attach part specifuc files like tolerance, threadings, finish details (PDF Only)'> Attach Additional Files</a></span>\n";
  jobDiv += "      </div>\n";
  jobDiv += "    </div>\n";
  jobDiv += "    <div class='anylysisofdesignstatus block sectionpadding10'>\n";
  jobDiv += "      <div class='flex justifycontent'>\n";
  jobDiv += "        <span class='displayinlineblock analysing'></span>\n";
  jobDiv += "        <h6>Uploading Design</h6><a data-toggle='tooltip' data-placement='auto' title='' data-original-title='This will indicate whether the model has issues or not!'> <i class='fa fa-info-circle' aria-hidden='true'></i></a>\n";
  jobDiv += "      </div>\n";
  jobDiv += "      <p>Please wait while we upload your design</p>\n";
  jobDiv += "    </div>\n";
  jobDiv += "    <div class='cartandpricebtn block flex'>\n";
  jobDiv += "      <div class='flex1 displayflex'>\n";
  jobDiv += "        <div class='price'></div>\n";
  jobDiv += "      </div>\n";
  jobDiv += "      <div class='flex1'>\n";
  jobDiv += "        <button class='button block'>Add to Cart</button>\n";
  jobDiv += "      </div>\n";
  jobDiv += "    </div>\n";
  jobDiv += "  </div>\n";
  jobDiv += "</div>\n";
  $('.uploadwrapper > div.row').prepend(jobDiv);
  $(".jqtransform").jqTransform();
}

var analysis_result = function(n, result) {
  var job = $("#job" + n);
  if (result.status == 100) {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").html('');
    job.find(".anylysisofdesignstatus > div > h6").html('Uploading Design');
    job.find(".anylysisofdesignstatus > p").html("Please wait while we take a look at your design");
  } else if (result.status == 202) {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").html('');
    job.find(".anylysisofdesignstatus > div > h6").html('Analysing Design');
    job.find(".anylysisofdesignstatus > p").html("Please wait while we take a look at your design");
  } else if (result.status == 200) {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").html('<i class="fa fa-check" aria-hidden="true"></i>');
    job.find(".anylysisofdesignstatus > div > h6").html('Analysing Done');
    job.find(".anylysisofdesignstatus > p").html("The model is ready");
  } else {
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysisdone");
    job.find(".anylysisofdesignstatus > div > span").removeClass("analysing");
    job.find(".anylysisofdesignstatus > div > span").addClass("analysisfailed");
    job.find(".anylysisofdesignstatus > div > span").html("<i class='fa fa-times' aria-hidden='true'></i>");
    job.find(".anylysisofdesignstatus > div > h6").html('Analysing Failed');
    job.find(".anylysisofdesignstatus > p").html('The Modal has <a class="triggerthreedpopup_js">issues</a>. <a style="margin-left: 15px;">Contact Support</a>');
  }
}

var jobs = [];
var workers = [];
var configuration = {
  MAX_FILE_SIZE         : 100,
  FILE_TYPE_TO_DEFAULT_JOB_TYPE : {
    'STL'               : 'FDM',
    'OBJ'               : 'FDM',
    'STP'               : 'CNC',
    'STEP'              : 'CNC'
  },
  JOB_TYPES             : ['FDM','CNC'],
  FDM                   : {
    MATERIALS           : ['PLA','ABS'],
    DEFAULT_FINISH      : 'NORMAL',
    FINISH              : ['COARSE', 'NORMAL', 'FINE'],
    DEFAULT_DENSITY     : '0.1',
    DENSITY             : ['0.1','0.3','0.5']
  },
  CNC                   : {
    MATERIALS           : ['ALUMINIUM','COPPER'],
    DEFAULT_FINISH      : 'NORMAL',
    FINISH              : ['NORMAL'],
    DENSITY             : []
  },
  JOB_TEMPLATE          : {
    id                  : undefined,
    name                : undefined,
    settings            : {
      job_type          : undefined,
      material          : undefined,
      finish            : undefined,
      density           : undefined,
      quantity          : 1,
      units             : 'mm'
    },
    errors              : {
      code              : 200,
      fatal             : undefined,
    },
    cache               : {
      bounding_box      : {
        x               : undefined,
        y               : undefined,
        z               : undefined
      },
      part_volume       : undefined,
      part_area         : undefined,
      support_volume    : {
        x_plus          : undefined,
        x_minus         : undefined,
        y_plus          : undefined,
        y_minus         : undefined,
        z_plus          : undefined,
        z_minus         : undefined
      },
      support_z_area    : {
        x_plus          : undefined,
        x_minus         : undefined,
        y_plus          : undefined,
        y_minus         : undefined,
        z_plus          : undefined,
        z_minus         : undefined
      },
      support_xy_area   : {
        x_plus          : undefined,
        x_minus         : undefined,
        y_plus          : undefined,
        y_minus         : undefined,
        z_plus          : undefined,
        z_minus         : undefined
      },
      exp_print_time    : undefined,
      act_print_time    : undefined,
      quote             : undefined
    },
    tracking            : {
      state             : "Created",
      progress          : undefined,
      created_at        : undefined,
      uploaded_at       : undefined,
      placed_at         : undefined,
      confirmed_at      : undefined,
      printing_at       : undefined,
      ready_at          : undefined,
      shipped_at        : undefined,
      delivered_at      : undefined
    },
    fractory            : undefined,
    csr                 : undefined,
    analysis_progress   : 0,
    analysis_tag        : "Reading (1/4)...",
    upload_progress     : 0
  }
}

var onFilesDrop = function(e) {
  e.stopPropagation()
  e.preventDefault()

  if ( e.originalEvent.dataTransfer.files.length > 0 ) {
    for (i = 0; i < e.originalEvent.dataTransfer.files.length; i++ ) {
      if ( e.originalEvent.dataTransfer.files[i].size > (configuration.MAX_FILE_SIZE * 1048576) ) {
        alert("File: '" + e.originalEvent.dataTransfer.files[i].name + "' is too big! Maximum allowed size is " + configuration.MAX_FILE_SIZE + "MB");
        continue;
      }

      var job               = JSON.parse(JSON.stringify(configuration.JOB_TEMPLATE));
      job.id                = /*window.user.id +*/ ((new Date()).getTime().toString() + Math.random().toString().substring(2));
      job.name              = e.originalEvent.dataTransfer.files[i].name;
      job.settings.job_type = configuration.FILE_TYPE_TO_DEFAULT_JOB_TYPE[job.name.split('.').pop().toUpperCase()];

      if (!job.settings.job_type) {
        alert("File: '" + e.originalEvent.dataTransfer.files[i].name + "' is not supported!");
        continue;
      }

      job.settings.material = configuration[job.settings.job_type]['DEFAULT_MATERIAL'];
      job.settings.finish   = configuration[job.settings.job_type]['DEFAULT_FINISH'];
      job.settings.density  = configuration[job.settings.job_type]['DEFAULT_DENSITY'];

      logger.debug("[" + job.id + "] Creating a new job:\n" + JSON.stringify(job, null, 3));
      createJob(job);
      jobs[job.id] = job;

      logger.debug("[" + job.id + "] Creating a new worker...");
      worker = new Worker("/libraries/mesh-analysis/js/mesh-analysis-worker.js");

      worker.onmessage = function(event) {
        try {
          logger.debug("[" + job.id + "] Received message from worker " + event.data.action);
          switch(event.data.action) {
            case 'status':
              jobs[job.id].analysis_progress = event.data.analysis_progress;
              jobs[job.id].upload_progress = event.data.upload_progress;
              jobs[job.id].analysis_tag = event.data.analysis_tag;
              jobs[job.id].errors = event.data.errors;
              refresh_job(job.id);
              break;
            case 'cache':
              jobs[job.id].cache = event.data;
              refresh_job(job.id);
              break;
            case 'geometry':
              if (mesh!=null) {scene.remove(mesh);mesh=null};
              var faces = [];
              var vertices = [];
              for ( var i = 0; i < event.data.faces.length; i++ ) {
                faces.push(new THREE.Face3(event.data.faces[i].a,event.data.faces[i].b,event.data.faces[i].c))
              }
              for ( var i = 0; i < event.data.vertices.length; i++ ) {
                vertices.push(new THREE.Vector3(event.data.vertices[i].x,event.data.vertices[i].y,event.data.vertices[i].z));
              }

              console.log(event.data);
              var geometry = new THREE.Geometry;
              geometry.vertices = vertices;
              geometry.faces = faces;
              geometry.computeBoundingBox();
              geometry.computeFaceNormals();
              THREE.GeometryUtils.center(geometry);

              mesh = new THREE.Mesh(geometry, material);
              directionalLight.position.z = geometry.boundingBox.max.z + geometry.boundingBox.max.x;
              directionalLight.position.x = geometry.boundingBox.max.z + geometry.boundingBox.max.x;
              directionalLight.position.y = geometry.boundingBox.max.y * 2;
              pointLight.position.z = 0;
              pointLight.position.x = 0;
              pointLight.position.y = geometry.boundingBox.max.y * 2;

              camera.position.set(0,0,Math.max(geometry.boundingBox.max.x*3,geometry.boundingBox.max.y*3,geometry.boundingBox.max.z*3));
              controls.reset();

              scene.add(mesh);
              setTimeout(function() {
                $("#job" + job.id).find("img").attr("src", renderer.domElement.toDataURL("image/png").replace("image/png", "image/octet-stream"))
              }, 100);
              break;
            default:
          }
        } catch(err) {
        }
      };

      workers[job.id] = worker;
      worker.postMessage({'action': 'init', 'job': job, 'file': e.originalEvent.dataTransfer.files[i]});
    }
  }
}

var refresh_job = function(id) {
  var job = jobs[id];
  if ( job.tracking.state == "Created" && job.upload_progress == 100 ) {
    job.tracking.state = "Uploaded";
    analysis_result(id, {status: 202});
  } else if ( job.tracking.state == "Uploaded" && job.cache.quote ) {
    job.tracking.state = "Analysed";
    analysis_result(id, {status: 200});
  }
  onChangeJobPrice(id);
  jobs[job.id] = job;
}

$(document.body).on("dragover", function(e) { e.stopPropagation(); e.preventDefault(); });
$(document.body).on("drop", onFilesDrop);




function do_renderer_resize() {
  h = 600
  w = 600
  renderer.setSize(w, h);
}

var material = new THREE.MeshLambertMaterial({'color':0xD3D3D3, 'overdraw': 1, 'flatShading': true, 'vertexColors': THREE.FaceColors, 'side': THREE.DoubleSide});

var w = 600
var h = 600
var scene = new THREE.Scene();
renderer = new THREE.WebGLRenderer({preserveDrawingBuffer:true, alpha:true})
var mesh=null;
var ambientLight     = null;
var directionalLight = null;
var pointLight       = null;
var camera = new THREE.PerspectiveCamera(45, w/h, 0.1, 10000);
var bg_color=0xffffff;

do_renderer_resize();

                        renderer.setClearColor( bg_color, 1);
                        $('#survey-content').html(renderer.domElement);
                        camera.position.set(0,0,100);
                        scene.add(camera);

                        ambientLight = new THREE.AmbientLight(0x202020);
                        camera.add(ambientLight);
                        directionalLight = new THREE.DirectionalLight(0xffffff, 0.75);
                        directionalLight.position.x = 1;
                        directionalLight.position.y = 1;
                        directionalLight.position.z = 2;
                        directionalLight.position.normalize();
                        camera.add(directionalLight);

                        pointLight = new THREE.PointLight(0xffffff, 0.3);
                        pointLight.position.x = 0;
                        pointLight.position.y = -25;
                        pointLight.position.z = 10;
                        camera.add(pointLight);

                        var controls = new THREE.OrbitControls(camera, renderer.domElement);
controls.autoRotate=true
function render_loop() {
  requestAnimationFrame(render_loop);
  renderer.render(scene, camera);
  controls.update();
}
render_loop();
  </script>
{% endblock %}
